{% load static %}
<div class="container pt-5" data-aos="fade-up">
      <div class="section-header">
        <h2 class="deep-red">Contact Us</h2>
        <p class="text-light">We're all pretty chill people</p>
                <p>Visit <span class='text-danger'>||</span> Call <span class='text-danger'>||</span> Email</p>

      </div>

      <div class="row contact-info">
               <div class="col-md-4">
          <div class="contact-address">
            <i class="bi bi-geo-alt"></i>
            <h3 class="text-light">Address</h3>
            <address class="deep-red"><a href="#venue">222 Paseo Del Pueblo Norte, Taos, NM 87571</a></address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="bi bi-phone"></i>
            <h3 class="text-light">Phone Number</h3>
            <p><a href="tel:5756162426" class='deep-red'>(575) 616-2426</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="bi bi-envelope"></i>
              <h3 class="text-light">Email</h3>
            <p>
              <a href="mailto:taosrevolt@gmail.com" class='deep-red text-decoration-none'
                >taosrevolt@gmail.com</a
              >
            </p>
          </div>
        </div>
<!--   {% include 'schedule/contact_information.html' %}-->
      </div>


    </div>