{% extends "schedule/base.html" %} {% load static %} {% block title%} Revolt
Gallery {% endblock %}

{% block bodycontent %}





  <!-- ======= About Section  Stay ======= -->
  <section id="hero" class="">
    {% comment %}  {% endcomment %}

  {% include 'schedule/ui_change_template/revolt_hero_new.html' %}




  </section>
<!-- end dynamic slider area section -->

<!-- End Hero Section -->

<main id="main">

     <section id="about" class="">


  {% include 'schedule/ui_change_template/recent_show.html' %}




  </section>
  <!-- ======= About Section  Stay ======= -->
  <section id="about" class="">


  {% include 'schedule/gallery_future.html' %}




  </section>
  <!-- ======= About Section ======= -->

  <!-- End About Section -->

  <!-- ======= Static Venue Section ======= -->


  <!-- ======= Instagram Section (stay, needs work) ======= -->

  <!-- End insta Section -->
   <section id="venue" class="">
    {% include 'schedule/gallery_past_new.html' %}
  </section>
  <!-- End Venue Section -->

  <!-- ======= Contact Section Stay ======= -->

  <!-- End Contact Section -->
</main>
<!-- End #main -->

{% endblock %}