{% load static %}

<div class="container-fluid d-flex align-items-center">
        <div id="logo" class="me-auto custom-font">
            <h1><a href="{% url 'annex_home' %}" data-bs-target="#carousel-id" data-bs-slide-to="0"><img class='logo-schedule img-h' src='{% static "schedule/img/img-new/fist.png" %}' alt='logo' /><span class="{% if request.path == '/revolt-art/' or request.path == '/revolt-gallery/' %}text-danger{% else %}text-light{% endif %}">Revolt</span></a> <span class="text-danger">||</span> <a href="{% url 'music-reset' %}" data-bs-target="#carousel-id" data-bs-slide-to="0"><span class="{% if request.path == '/reset-performing-arts/' %}text-danger{% else %}text-light{% endif %}">RESET</span><img class='logo-schedule img-h' src='{% static "schedule/img/img-new/fist.png" %}' alt='logo' /></a></h1>
        </div>

        <div id="mobile-nav-bar">
       <nav class="navbar bg-body-tertiary fixed-top">
      <div class="container-fluid">
<a href="{% url 'annex_home' %}" data-bs-target="#carousel-id" data-bs-slide-to="0" class="custom-font-change"><span class="text-danger">Revolt </span> <span>|</span><span class="text-light">|</span><span> Reset</span></a>        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon text-danger"></span>
        </button>
        <div
          class="offcanvas offcanvas-end bg-dark bg-gradient"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-header bg-dark">
            <h5 class="offcanvas-title text-danger fw-bold fs-1 custom-font-change" id="offcanvasNavbarLabel">
              REVOLT GALLERY
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body bg-opacity-25">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 list-custom">
              <li>
                <a
                  id="gallery-link"
                  class="nav-link custom-font-change mb-3 fs-1"
                  href="{% url 'annex_home' %}"
                  ><span class="text-danger">REVOLT</span></a
                >
              </li>

              <li>
                <a
                  id="gallery-link"
                  class="nav-link custom-font-change mb-3 fs-1"
                  href="{% url 'hut' %}"
                  ><span class="text-danger">THE HUT</span></a
                >
              </li>

              <li>
                <a
                  id="venue-link"
                  class="nav-link custom-font-change mb-3 fs-1"
                  href="{% url 'music-reset' %}"
                  >RESET EVENTS</a
                >
              </li>
              <li>
                <a
                  id="speakers-link"
                  class="nav-link custom-font-change fs-5"
                  href="{% url 'contact-revolt' %}"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0 bg-transparent">
            <ul>


                <li><a id="gallery-link" class="nav-link" href="{% url 'gallery-revolt' %}"><span class='text-danger custom-font-change custom-glow-change'>Exhibits</span></a></li>
                <li><a id="venue-link" class="nav-link" href="{% url 'hut' %}"><span class='custom-font-change'>HUT</span></a></li>
                <li><a class="nav-link" href="{% url 'music-reset' %}"><span class='text-danger custom-font-change custom-glow-change'>RESET EVENTS</span></a></li>

                <li><a id="music-reset" class="nav-link" href="{% url 'contact-revolt' %}"><span class='custom-font-change'>CONTACT</span></a></li>
            </ul>
        </nav><!-- .navbar -->
    </div>