{% load static %}

<div class="container future-custom-container mt-3 mb-5">
    {% if music_artist_listing %}
    <h1 class="text-center mb-2 mt-5 deep-red"><span class="text-light">Reset</span> Schedule</h1>


   <div class="row justify-content-center">
    {% for item in music_artist_listing %}
        {% if forloop.first %}
            <div class="col-lg-4 col-md-6">
        {% elif forloop.counter0|divisibleby:3 %}
            <div class="w-100"></div> <!-- Line break after every third entry -->
            <div class="col-lg-4 col-md-6">
        {% else %}
            <div class="col-lg-4 col-md-6">
        {% endif %}
            <div class="future-child-container p-3 mt-3 border border-danger rounded-4 shadow-lg mb-5 bg-primary bg-opacity-10">
                <div class="future-content-container">
                    {% if my_variable|default:'Show Title' %}
                        <p class='text-center custom-font-change deep-red fs-4 text-shad-dark-back'>{{ item.artist_name }} </p>
                    {% endif %}

                    <div class='hover-future-cont'>
                        <p class="text-center text-light">{{item.show_time}} <span class="deep-red">||</span> {{item.show_date|date:"M d"}}</p>
                        <p class="text-center custom-font-change text-shad-dark-back">
                            <a class='text-decoration-none deep-red' href='{{ item.artist_website }}'>{{ item.artist_name }}'s
                                <span class="text-light"> Website</span></a></p>
                        <p class="text-center custom-font-change text-shad-dark-back">
                            <a class='text-decoration-none deep-red' href='{{ item.artist_insta }}'>
                                <span class="text-light"> Instagram</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

</div>
   </div>
{% endif %}
</div>