{% load static %}
<div id="about-forward" class="pt-3" data-aos="fade-up">
    <h2 id='about-headline' class='text-center mt-4 text-shad-dark-back'>About <span class="deep-red">Reset</span></h2>
    <div class="title-border-bottom mb-4 w-25 mx-auto"></div>

      <div class="row mb-3">
        <div class="col-lg-2"></div>

        <div class="col-lg-8">
                   <p class='text-center text-light'><q>The Annex space, which opened in December 2022, is the latest expression of McFarland’s vision for an artistically vital north side.</q><br><a href="https://www.taosnews.com/tempo/music/revolt-gallery-branches-out/article_e5855943-556d-5df3-be62-6141a84ba8ba.html"><span class="deep-red">Richard Aufrichtig Apr 3, 2023 Updated Apr 6, 2023</span></a></p>

        </div>
        <dic class="col-lg-2"></dic>
    </div>

     <div class="row mb-3">
        <div class="col-lg-3"></div>

        <div class="col-lg-3 p-3">
            <div class="venue-gallery">
        <a href="https://player.vimeo.com/video/511730193?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
<iframe src="https://player.vimeo.com/video/496080719?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Revolt Gallery New Years 2021"></iframe>                <div class="quote-overlay">
                    <p class='custom-font-octin deep-red fs-3'>Miles Bonny and Dirty Sheets <br>New Years 2021</p>
                </div>
            </div>
        </a>
    </div>

               </div>
         <div class="col-lg-3 p-3">
            <div class="venue-gallery">
<!--        <a href="https://player.vimeo.com/video/708471846?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">-->
            <div class="video-container">
                <iframe src="https://player.vimeo.com/video/708471846?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="WiVes WiTh KniVes April28 2022 Coup D'Taos"></iframe>
                <div class="quote-overlay">
                    <p class='fs-3 custom-font-octin deep-red'>Wives With Knives<br>Coup D'Taos 2022</p>
                </div>
            </div>
<!--        </a>-->
    </div>

               </div>
        <dic class="col-lg-3"></dic>
    </div>


    <div class="row mb-3">
        <div class="col-lg-3"></div>

        <div class="col-lg-6">

             <p class='text-light text-shad-dark-back fs-6'>Alongside the ongoing roller skating classes held on Mondays and various community events throughout the week in the performing arts space in the back, the much-anticipated Godega from LeeCooks Church and Mark Brumbelo’s Heads Up Music record store have found their footing and are thriving since their opening.</p>
       <p class='text-light text-shad-dark-back fs-6'> These businesses have become integral parts of the community, adding vibrancy and diversity to the area. Additionally, the top floor of the building continues to serve as a residency space for visiting artists, while the bottom floor remains home to three studio spaces allocated for locals.</p>

        </div>
        <dic class="col-lg-3"></dic>
    </div>



</div>