{% load static %}
<div id="about-forward" class="pt-3" data-aos="fade-up">
    <h2 id='about-headline' class='text-center mt-4 text-shad-dark-back'>About <span class="deep-red">Revolt</span></h2>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-4 p-4 mx-auto">
            <div class="text-start">

                <div class="">
                    <div class="">

                        <img class="w-100 img-fluid mx-auto mt-1 border border-danger"
                             src="{% static 'schedule/img/img-new/IMG_2674_resize.jpg' %}" alt="stever" loading="lazy"/>
                        <p class="custom-paragraph image-info-about">Alexis Tucci & Crew spinning bangers at RESET 2023</p>



                    </div>

                </div>
            </div>

        </div>
        <div class="col-lg-4 p-4 mx-auto">
            <div class="text-start">

                <div class="">
                    <div class="">

                        <img class="w-100 img-fluid mx-auto mt-1 border border-danger"
                             src="{% static 'schedule/img/img-new/annex-info-bg.jpg' %}" alt="stever" loading="lazy"/>
                        <p class="custom-paragraph image-info-about">Steve Mcfarland, Gallery Owner & Curator</p>



                    </div>

                </div>
            </div>

        </div>
<dic class="col-lg-1"></dic>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
   <div class="col-lg-8 pt-4">

       <p class=' text-light'><q>The Annex space, which opened in December 2022, is the latest expression of McFarland’s vision for an artistically vital north side.</q><br><a href="https://www.taosnews.com/tempo/music/revolt-gallery-branches-out/article_e5855943-556d-5df3-be62-6141a84ba8ba.html"><span class="deep-red">Richard Aufrichtig Apr 3, 2023 Updated Apr 6, 2023</span></a></p>

             <p class='text-light'>Alongside the ongoing roller skating classes held on Mondays and various community events throughout the week in the performing arts space in the back, the much-anticipated Godega from LeeCooks Church and Mark Brumbelo’s Heads Up Music record store have found their footing and are thriving since their opening.</p>
       <p class='text-light'> These businesses have become integral parts of the community, adding vibrancy and diversity to the area. Additionally, the top floor of the building continues to serve as a residency space for visiting artists, while the bottom floor remains home to three studio spaces allocated for locals.</p>

   </div>

<div class="col-lg-2"></div>
    </div>
</div>