{% load static %}
{% now "Y-m-d" as current_date %}

<div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <h1 id="hero-front" class="mb-1 mt-5 pb-0 pt-5 deep-red custom-font-octin text-shad-dark-back">Gallery Exhibits</h1>

    <div class="w-50 mx-auto"></div>
    <div class="container gallery-update-container mt-3 p-1">
        <h2 class="custom-font-octin mb-4 text-center text-light">Current / Upcoming Exhibit</h2>

        <div class="row mt-1">
            {% if gallery_listing %}
                {% with gallery_date=gallery_listing.0.vis_show_date_end|date:"Y-m-d" %}
                    {% if gallery_date > current_date %}
<!--                        <div class="col-lg-2 text-center p-4"></div>-->

                        <div class="col-lg-8 pb-5 mx-auto" data-aos="fade-up" data-aos-delay="100">
                            <div class="hero-flyer-container mx-auto">
                                <p class="text-shad-dark-back deep-red custom-font-octin fs-2 mt-4">{{ gallery_listing.0.visual_show_name }}</p>
                                <p class="text-shad-dark-back custom-font-octin deep-red revolt-artist-text">{{ gallery_listing.0.vis_artist_bio }}</p>
                                <a href="{% url 'gallery-revolt' %}">
                                    <img src="https://live.staticflickr.com/{{ gallery_listing.0.flyer_server_id }}/{{ gallery_listing.0.flyer_img_id }}_{{ gallery_listing.0.flyer_img_secret }}.jpg" id="front-page-img-container" loading="lazy" class="shad m-1 w-75 img-fluid border border-danger-subtle">
                                </a>
                                <div class="mt-4">

                                    <p class="fs-3 custom-font-octin text-shad-dark-back text-light revolt-artist-text">{{ gallery_listing.0.vis_show_date_start|date:"M d Y" }} <span class="deep-red">to</span> {{ gallery_listing.0.vis_show_date_end|date:"M Y" }}</p>



                            </div>

                            </div>

                                                    </div>

<!--                        <div class="col-lg-2 text-center p-4">-->


<!--                        </div>-->


            {% else %}
                <div class="container mt-5 pb-5" data-aos="fade-up" data-aos-delay="100">
                    <h1 class="text-center mb-2 fs-1 text-shad-dark-back deep-red">REVOLT GALLERY IS <span class="d-block d-lg-inline text-light">ON WINTER BREAK</span></h1>
                    <div class="text-center">
                        <h2 class="text-light">THANK YOU <span class="text-light"></span></h2>
                        <h2 class="text-light text-shad-dark-back">New show Dropping in March 2024</h2>

                       <button onclick="window.location.href='{% url 'gallery-revolt' %}'" class="button-89 deep-red custom-font-change shad">Future and Past Exhibits</button>
                    </div>
                </div>
            {% endif %}
            {% endwith %}
            {% endif %}
        </div>
    </div>
</div>
