{% load static %}

 <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 id="hero-front" class="mb-1 mt-5 pb-0 moving-gradient">
        Revolt Art Gallery
      </h1>
     <p class="fs-3 custom-font-change text-shad-dark-back text-danger">Where Art Breaks Free from the System</p>


<div class="container gallery-update-container mt-1 p-1">
    <p class="custom-font-change mb-4 text-center">Current Exhibit</p>
    <div class="row">
        <div class="col-lg text-center p-4"></div>

        <div class="container mt-5 pb-5" data-aos="fade-up" data-aos-delay="100">
            <h1 class="text-center mb-2 fs-1 text-shad-dark-back text-danger">REVOLT GALLERY IS <span class="d-block d-lg-inline text-light">ON WINTER BREAK</span></h1>
            <div class="text-center">
                <h2 class="text-light">THANK YOU <span class="text-light"></span></h2>
                <h2 class="text-light text-shad-dark-back">New show Dropping in March 2024</h2>

                <a id="hero-button" href="{% url 'gallery-revolt' %}" class="btn btn-danger-outline custom-font-change mt-3">Future and Past Exhibits</a>            </div>
        </div>

        <div class="col-lg text-center p-4 m-5"></div>
    </div>
</div>




    </div>