.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }



  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }


.custom-album {
min-height: 100vh;

}

custom-hover:hover {
scale: 1.2;
}

.text-shad-dark-back {
text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 1px 1px 5px rgba(0, 0, 0, 0.5);
}

  .archive-child-container:hover {
  transform: scale(1.1);
  animation: glow 2s ease-in-out infinite;
}

    .carousel-container {
      min-height: 500px;
       width: auto;/* Adjust the height as needed */
    }

    .carousel-item img {
      object-fit: cover;
      max-width: 100%;
      height: 100%;
      width: auto;
    }

.custom-hover { transition: all .2s ease-in-out; }
 .custom-hover:hover {
 transform: scale(1.1);
  animation: glow 2s ease-in-out infinite;}



 #images-wrapper {
   line-height: 0;
    -webkit-column-count: 4;
    -webkit-column-gap: 3px;
    -moz-column-count: 4;
    -moz-column-gap: 3px;
     column-count: 4;
     column-gap: 3px;
}
#images-wrapper img {
   width: 60% !important;
   height: auto !important;
}
#images-wrapper{
   display:inline-block;
   margin-right: auto;
   margin-left: auto;
}



#archive-container.images-wrapper.text-center.col-10 a:nth-child {
float: right;
}





  /*      #gallery {

            background-image: url('../img/img-new/revolt_logo.png');


            background-size: 10% 20%;

            background-repeat: no-repeat;

            background-position: left top;
            background-attachment: fixed;
            z-index: 100;
        }

@media (max-width: 500px) {
    #gallery {
    background-size: 5% 10%;
    background-position: left top;
    }

}*/

.shad {
  box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.5);
  }

.hover-img-arch {
    position: relative;
}

.view-more-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.6) 50%, rgba(255, 255, 255, 0.5) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hover-img-arch:hover .view-more-overlay {
    opacity: 1;
}


.text-hov-bright { transition: all .2s ease-in-out; }



.text-hov-bright {
opacity:0;
display: flex;
    justify-content: center;
    align-items: center;
      position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (min-width: 700px) {
.hover-img-arch:hover .text-hov-bright {
    opacity: 1;
    text-shadow: 2px 2px 4px black;
    scale: 1.2;
    z-index: 100;
}


}


.hover-image {
    position: flex;
    justify-content: center;
    height: 100%;
    width: auto;
    opacity: 0;
    z-index: 1;

}

.view-more-overlay:hover .hover-image {
    opacity: 1;
}


.gallery-update-container {
height:
}

@media (max-width: 550px) {
#front-page-img-container {


}

}






/* Your existing CSS styles */
  .button-89 {
    --b: 2px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #f82249;
    margin-top: 50px;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 18px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-89:hover,
  .button-89:focus-visible {
    --_p: 0px;
    outline-color: #f82249;
    outline-offset: .05em;
    border: 1px solid red;
  }

  .button-89:active {
    background: var(--color);
    color: #fff;
  }

  /* Additional styles for full-screen expansion */
  .expanded-button {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    border-radius: 0;
    font-size: 24px; /* You can adjust the font size for the expanded state */
  }

#hero-front {
margin-top: 100px;
}

.link-hover:hover {
color: yellow;
}