{% extends "base.html" %}
{% load static %}
{% block title%} Revolt Gallery {% endblock %}

{% block bodycontent %}
 <header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto custom-font">
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="/revolt-art/">Revolt Gallery |<span>| Reset Annex</span></a></h1>
      
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#gallery">The Gallery</a></li>
          <li><a class="nav-link scrollto" href="#venue">The Venue</a></li>
          <li><a class="nav-link scrollto" href="#speakers">The Players</a></li>
          
          
          <li><a class="nav-link scrollto" href="#schedule">Schedule</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          {% comment %} <li><a class="nav-link scrollto" href="#hotels">Accomodations</a></li> {% endcomment %}
          <li><a class="nav-link scrollto" href="https://www.taosrevolt.com/art">Gallery Archive</a></li>
          {% comment %} <li><a class="nav-link scrollto" href="#supporters">Sponsors</a></li> {% endcomment %}
         
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <!-- <a class="buy-tickets scrollto" href="#buy-tickets">Buy Tickets</a> -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">Revolt Gallery<br><span> Reset</span> Music</h1>
      <p class="mb-4 pb-0">Where Art Breaks Free from the System</p>
      <a href="https://www.youtube.com/watch?v=oI5mr7F5MR4" class="glightbox play-btn mb-4"></a>
      <a href="#about" class="about-btn scrollto">About Revolt Gallery</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class=''>
    
      <div id='about-forward' class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2>Gallery and Annex</h2>
            <p>Revolt Gallery and Reset Music Space offers an incredibly vast offering of different arts to help free your mind from
            the norm.  Owner and operator, Steve McFarland opens his instalation filled property to any passer by.  On the weekends, the venue, Reset hosts a wide array of different bands and DJ's
            to stimulate the mind.</p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>Located right in downtown Taos, Mew Mexico</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p>When ever the hell we want<br>24/7/365<br>
            or <a href='#schedule' id='schedule-link' class="text-light">Check the Line-up</a></p>

            
            
            
          </div>
        </div>
      </div>
    </section>
    

    <!-- End About Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>The Revolt Gallery</h2>
          <p>Check our gallery from the recent events</p>
        </div>

        
        <div class="row section-header">
          <div class="col-lg-6 text-center p-4">
            <h5>Curator</h5>
            <p class=''>information about the curator</p>
          </div>
          <div class="col-lg-6 text-center p-4">
            <h5>Message</h5>
            <p class=''>What does the gallery stand for and what kind of events do we have in the place </p>
          </div>
      </div>


      

      <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide square-contain"><a href="{% static 'schedule/img/img-new/img-square/clark shot cropped.jpg' %}" class="gallery-lightbox"><img src="{% static 'schedule/img/img-new/img-square/clark shot cropped.jpg' %}" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide square-contain"><a href="{% static 'schedule/img/img-new/img-square/hoff cropped.jpg' %}" class="gallery-lightbox"><img src="{% static 'schedule/img/img-new/img-square/hoff cropped.jpg' %}" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide square-contain"><a href="{% static 'schedule/img/img-new/img-square/clark 2 crop.jpg' %}" class="gallery-lightbox"><img src="{% static 'schedule/img/img-new/img-square/clark 2 crop.jpg' %}" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide square-contain"><a href="{% static 'schedule/img/img-new/img-square/clark opening.jpeg' %}" class="gallery-lightbox"><img src="{% static 'schedule/img/img-new/img-square/clark opening.jpeg' %}" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide square-contain"><a href="{% static 'schedule/img/img-new/img-square/ext view.jpeg' %}" class="gallery-lightbox"><img src="{% static 'schedule/img/img-new/img-square/ext view.jpeg' %}" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide square-contain"><a href="{% static 'schedule/img/img-new/img-square/DSC_.7011.jpg' %}" class="gallery-lightbox"><img src="{% static 'schedule/img/img-new/img-square/dsc_7011.jpg' %}" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide square-contain"><a href="{% static 'schedule/img/img-new/img-square/img_5848.jpg' %}" class="gallery-lightbox"><img src="{% static 'schedule/img/img-new/img-square/img_5848.jpg' %}" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide square-contain"><a href="{% static 'schedule/img/img-new/img-square/JWAnderson_Unfurl_2023.jpg' %}" class="gallery-lightbox"><img src="{% static 'schedule/img/img-new/img-square/JWAnderson_Unfurl_2023.jpg' %}" class="img-fluid" alt=""></a></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

   

    </section><!-- End Gallery Section -->

    <!-- ======= Venue Section ======= -->
    <section id="venue">

      <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
          <h2>Reset Venue</h2>
          <p class="text-uppercase">Reset venue location and past events</p>
        </div>

        <div class="row g-0">
          <div class="col-lg-6 venue-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2254.507198903464!2d-105.57068365223667!3d36.410068554771954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8717651628705279%3A0x99877053ad57b16e!2sRevolt%20Gallery!5e0!3m2!1sen!2sus!4v1686441245361!5m2!1sen!2sus" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6 venue-info">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8 position-relative">
                <h3>Look for the Big Metal Bird</h3>
                <p>Iste nobis eum sapiente sunt enim dolores labore accusantium autem. Cumque beatae ipsam. Est quae sit qui voluptatem corporis velit. Qui maxime accusamus possimus. Consequatur sequi et ea suscipit enim nesciunt quia velit.</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/1.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'schedule/img/venue-gallery/1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/2.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'schedule/img/venue-gallery/1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/3.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'schedule/img/venue-gallery/1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/4.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'schedule/img/venue-gallery/1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/5.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'schedule/img/venue-gallery/1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/6.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'schedule/img/venue-gallery/1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/7.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'schedule/img/venue-gallery/1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/8.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'schedule/img/venue-gallery/1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>
      </div>

    </section><!-- End Venue Section -->

    <!-- ======= DJ Section ======= -->
    <section id="speakers">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>The Reset Annex</h2>
          <p>A Few of Our Amazing DJ's</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="{% static 'schedule/img/speakers/jperry.jpg' %}" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Justin Perry</a></h3>
                <p>DJ This Justin</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'schedule/img/speakers/consoul.jpg' %}" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Conor Sullivan</a></h3>
                <p>DJ Consoul</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img src="{% static 'schedule/img/speakers/d-steve.jpg' %}" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Steve McFarland</a></h3>
                <p>DJ Dirty Steve</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="{% static 'schedule/img/speakers/arielimg.jpg' %}" alt="Speaker 4" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Ariel Vackni</a></h3>
                <p>MagicWomen Music</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'schedule/img/speakers/conrisa.jpg' %}" alt="Speaker 5" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Ramon AKA Conrisa</a></h3>
                <p>DJ Conrisa</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img src="{% static 'schedule/img/speakers/vinyl_dj.jpg' %}" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Swamp</a></h3>
                <p>THE DJ SWAMP</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End Speakers Section -->

    

    <!-- ======= Schedule Section ======= -->
    <section id="schedule" class="section-with-bg">
      <div class="container" data-aos="fade-up"><a id='schedule-1'></a>
        <div class="section-header">
          <h2>Who? What? Where? When?</h2>
          <p>Upcoming Music, Art Instalations and Classes</p>
        </div>

        <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
          <li class="nav-item">
            <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab">Music</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab">Art</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-3" role="tab" data-bs-toggle="tab">Classes</a>
          </li>
        </ul>

        <h3 class="sub-heading"><span class='fw-bold'>Music</span> || <span class='fw-bold'>Art</span> || <span class='fw-bold'>Classes</span></h3>

        <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <!-- Schdule Music 1 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

        {% for obj in show_listing|slice:'5' %}
          
            <div id="change" class="row schedule-item">
              <div class="col-md-2"><time>{{ obj.show_date|date:"M j" }} - {{ obj.show_time|time:'g:i'}}</time></div>
              <div class="col-md-10 ps-5">
                <div class="speaker">
                  <img src="/media/{{ obj.music_artist_image }}" alt="{{ obj.music_artist_image }}">
                </div>
                    
                    <div class="hide-1">
                    <h4 id="row1change" class='text-capitalize'>Headliner:<span class='text-capitalize'> {{ obj.artist_name }}</span> </h4>
              <div id='row2change'><span><span class='fw-bold'>Genre:</span> {{ obj.artist_genre }} || <span class='fw-bold'>Price:</span> {{ obj.entry_price|floatformat:2 }}</span>  <button class='float-end btn btn-outline-danger btn-sm ms-2 float-end' onclick="toggleDialog('music', {{ forloop.counter0 }}, 'show')">More Info</button></div>
                    
              <dialog id="music-dialog_{{ forloop.counter0 }}" class='dialog-box-style border border-danger border-3 p-3'>
                <div class='mr-4 dialog-text p-3'>
                <span class='text-center'><h3 class='font-weight-bold text-capitalize'>{{ obj.artist_name }}</h3></span>
                <p><span class="fw-bold">Info:</span> {{ obj.artist_bio}} this is some extra text just in case this is some extra text just in case this is some extra text just in case this is some extra text just in case this is some extra text just in case </p>
                <p><span class="fw-bold">Artist Website:</span> {{ obj.artist_website}}</p>
                <p><span class="fw-bold">Music:</span> {{ obj.artist_music_page}} || Insta: {{ obj.artist_insta }}</p>
                
                
                <button onclick="toggleDialog('music', {{ forloop.counter0 }}, 'hide')" class='btn btn-outline-danger mb-3 mt-3'>Close Me! </button>
                </div>
            </dialog> 
            
                    </div>
                    
              </div>
            </div>

            <!-- Modal -->
            {% empty %} 

       <div class="row schedule-item align-items-center">
              <div class='text-center p-4'>
              <div class="section-header">
                <h2>No Scheduled Shows <br> Contact us with any questions!</h2>
            
              </div>
              
              </div>
          </div>

        {% endfor %}

      

          </div>
          <!-- End Schdule Day 1 -->

          <!-- Gallery -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">
    {% for obj in gallery_listing|slice:'5' %}
            <div class="row schedule-item">
              <div class="col-md-2"><time>{{ obj.show_date_start|date:'M j'}} - {{ obj.show_date_end|date:'M j'}}</time>
            {% if obj.age_restriction %}
            <p> Over 21 only</p>
            {% else %}
            <p>All ages</p>
            {% endif %}
              
              </div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="/media/{{ obj.visual_artist_image }}" alt="{{ obj.visual_artist_name }}">
                </div>
                <h4 id="row1change">Show-Name: <span>{{ obj.visual_show_name }}</span></h4>
                    
                    {% comment %} <h6><span class="fw-bold">Artist-Name:</span> {{ obj.artist_name }}</h6><button class='btn btn-outline-danger mt-3 btn-sm ms-2' onclick="toggleDialog('gallery', {{ forloop.counter0 }}, 'show')">More Info</button></div> {% endcomment %}
                    <div id='row2change'><span><span class='fw-bold'>Artist-Name:</span> {{ obj.artist_name }} || <span class='fw-bold'>Location:</span> Revolt Gallery</span> <button class='btn btn-outline-danger btn-sm ms-2 float-end' onclick="toggleDialog('gallery', {{ forloop.counter0 }}, 'show')">More Info</button></div>

                <dialog id="gallery-dialog_{{ forloop.counter0 }}" class='bg-light bg-gradient overflow-visible dialog-box-style border border-danger p-3'>
                  <div style="background-image: url('/media/{{ obj.visual_artist_image }}'); background-size: cover;">
  
                  <div class='mr-4 dialog-text p-3 text-center'>
                    <span class='text-center'><h3 class='font-weight-bold text-capitalize'>{{ obj.artist_name }}</h3></span>
                    <p><span class="fw-bold">Info:</span> {{ obj.artist_bio}} this is some extra text just in case this is some extra text just in case this is some extra text just in case this is some extra text just in case this is some extra text just in case </p>
                    <p><a hre='{{ obj.artist_website}}'><span class="fw-bold">Artist Website:</span></a></p>
                    <p><span class="fw-bold">Medium:</span> {{ obj.artist_medium}} || <span class="fw-bold">Price:</span> {{ obj.entry_price }}</p>
                <button onclick="toggleDialog('gallery', {{ forloop.counter0 }}, 'hide')" class='btn btn-outline-danger mb-3 mt-3'>Close More Information</button>
                </div>
                </div>
            </dialog>
            
              </div>
            </div>

            {% empty %} 

       <div class="row schedule-item align-items-center">
              <div class='text-center p-4'>
              <div class="section-header">
                <h2>No Scheduled Instalations <br> Contact us with any questions!</h2>
            
              </div>
              
              </div>
          </div>
    {% endfor %}
           

          </div>
          <!-- End Schdule gallery -->

          <!-- Schdule Class 3 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">
{% for obj in extra_curriucular_listing %}
            <div class="row schedule-item">
              <div class="col-md-2"><time>{{ obj.class_date|date:"M j" }} - {{ obj.class_time|time:'g:i'}}</time></div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="/media/{{ obj.class_artist_image }}" alt="teacher">
                </div>
                <h4>Class: {{obj.class_name}}</h4>
                <div id='row2change'><span><span class='fw-bold'>Teacher:</span> {{ obj.class_teacher }} || <span class='fw-bold'>Location:</span> {{ obj.class_location }}</span> <button class='btn btn-outline-danger btn-sm ms-2 float-end' onclick="toggleDialog('class', {{ forloop.counter0 }}, 'show')">More Info</button></div>
              
               <dialog id="class-dialog_{{ forloop.counter0 }}" class='overflow-visible dialog-box-style border border-danger border-3 p-3'>
                  <div class='mr-4 dialog-text p-3'>
                    <span class='text-center'><h3 class='font-weight-bold text-capitalize'>{{ obj.class_name }}</h3></span>
                    <p><span class="fw-bold">Teacher:</span> {{ obj.class_teacher}}</p>
                    <p><span class="fw-bold">Info:</span> {{ obj.class_description}} this is some extra text just in case this is some extra text just in case this is some extra text just in case this is some extra text just in case this is some extra text just in case </p>
                    
                    <p><span class="fw-bold">Location:</span> {{ obj.class_location }} || <span class="fw-bold">Price:</span> {{ obj.class_price }}</p>
                <button onclick="toggleDialog('class', {{ forloop.counter0 }}, 'hide')" class='btn btn-outline-danger mb-3 mt-3'>Close Me! </button>
                </div>
             </dialog>
              
              </div>
            </div>

    {% empty %} 

       <div class="row schedule-item align-items-center">
              <div class='text-center p-4'>
              <div class="section-header">
                <h2>No Scheduled Classes <br> Contact us with any questions!</h2>
            
              </div>
              
              </div>
          </div>

    {% endfor %}
            

          </div>
          <!-- End Schdule Day 2 -->

        </div>

      </div>

    </section><!-- End Schedule Section -->

    


   

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact Revolt</h2>
          <p>Nihil officia ut sint molestiae tenetur.</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <address>222 Paseo Del Pueblo Norte, Taos, NM 87571</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+19735985837">+1 973-598-5837</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:taos.haus.thumps@gmail.com">taos.haus.thumps@gmail.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <form method="POST" action='{% url "contact_us" %}' role="form" class="">
          {% csrf_token %}
            <div class="row">
            <p>{{contact_form.non_field_errors }}</p>
              <div class="form-group col-md-6">
                <input type="text" name="{{ contact_form.name.name }}" {% if contact_form.name.value != None %} value="{{ contact_form.name.value|stringformat:'s' }}"{% endif %}
                      maxlength="{{ contact_form.name.field.max_length }}" class='form-control' id='{{ contact_form.name.name }}' placeholder='Your Name' required/>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <input type="email" name="{{ contact_form.email.name }}" {% if contact_form.email.value != None %} value="{{ contact_form.email.value|stringformat:'s' }}"{% endif %}
                      maxlength="{{ contact_form.email.field.max_length }}" class='form-control' id='{{ contact_form.email.name }}' placeholder='Your Email' required/>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" name="{{ contact_form.subject.name }}" {% if contact_form.subject.value != None %} value="{{ contact_form.subject.value|stringformat:'s' }}"{% endif %}
              maxlength="{{ contact_form.subject.field.max_length }}" class='form-control' id='{{ contact_form.subject.name }}' placeholder='Subject' required/>

            </div>
            <div class="form-group mt-3">
              <textarea id="{{ contact_form.message.name }}" class="form-control" name="{{ contact_form.message.name }}" {% if contact_form.message.value != None %} value="{{ contact_form.message.value|stringformat:'s' }}"{% endif %} rows="5" placeholder="Message" required></textarea>
            </div>
           
            <div class="text-center mt-3"><button type="submit" class='btn btn-outline-danger'>Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

        

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Friends and Fam</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="https://thetaoshum.com/">Heads Up Music</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://www.hpshaveco.com/">Hitching Post Shave Co.</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://www.aceqrestaurant.com/">Aceq</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://www.yelp.com/biz/sabor-real-restaurant-taos">Sabor Real</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="http://www.salonxtaos.com/">Salon X</a></li> 
            </ul>
          </div> 

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Come See the Gallery</h4>
            <p>
              252 Paseo del Pueblo Norte <br>
              Taos, NM 87571<br>
              <strong>Phone:</strong> 973-598-5837<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

            <div class="social-links">
              {% comment %} <a href="#" class="twitter"><i class="bi bi-twitter"></i></a> {% endcomment %}
              <a href="https://www.facebook.com/TaosRevolt/" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/revolt_gallery/" class="instagram"><i class="bi bi-instagram"></i></a>
              {% comment %} <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a> {% endcomment %}
            </div>

          </div>

        </div>
      </div>
    </div>

    
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}