{% extends "master.html" %}
{% load static %}

{% block title %} Revolt Annex Music {% endblock %}

 {% block page-specific-script %}
 
 
    {% endblock %}



{% block header %}
  
    <h2 class="text-center header-2-custom">Music at the Annex</h2>
    
 

  
    {% endblock %}


{% block pagecontent %}


<div class="annex-info">
<p class="annex-text">


{% for key,value in nearby_accomodation.counter0.items %}
    
{% comment %} {{nearby_accomodations.hotel1.result.business_status}} {% endcomment %}

the {{ key }} {{ value }} <br>
{{value.result.business_status.val}}


{% endfor %}
</p>

<p> {{nearby_accomodations.hotel1.result.formatted_phone_number}}</p>
<p> {{nearby_accomodations.hotel2.result.business_status}}</p>
<p> {{nearby_accomodations.hotel3.result.business_status}}</p>
<p>{{place_image_list.0.0.photo_reference}}</p>



{% for i in show_listing %}

<p> {{ i.artist_name }}</p>

{% endfor %}
This is placeholder text that will explain events going on at the annex
</p>
</div>
 


 <div class="grid-contain">
<div id="cover">
  <a href="#"><img src="{% static '/schedule/img/dj_image_home.jpg' %}"></a>
 <a href="#"><img src="{% static '/schedule/img/dj_image_home.jpg' %}"></a>
 <a href="#"><img src="{% static '/schedule/img/dj_image_home.jpg' %}"></a>
 <a href="#"><img src="{% static '/schedule/img/dj_image_home.jpg' %}"></a>
</div>
 </div>





{% endblock %}