<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Revolt Annex Music</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'schedule/img/favicon.png' %}" rel="icon">
  <link href="{% static 'schedule/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

<!-- Wester Font IMport Link-->
<link href="https://fonts.cdnfonts.com/css/revolution" rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="{% static '/schedule/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static '/schedule/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


  <link href="{% static '/schedule/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/schedule/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '/schedule/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static '/schedule/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto custom-font">
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="/revolt-art/">Revolt<span>Annex</span></a></h1>
      
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#speakers">The Players</a></li>
          <li><a class="nav-link scrollto" href="#schedule">Schedule</a></li>
          <li><a class="nav-link scrollto" href="#venue">The Annex</a></li>
          <li><a class="nav-link scrollto" href="#hotels">Accomodations</a></li>
          <li><a class="nav-link scrollto" href="#gallery">The Gallery</a></li>
          <li><a class="nav-link scrollto" href="#supporters">Sponsors</a></li>
         
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <!-- <a class="buy-tickets scrollto" href="#buy-tickets">Buy Tickets</a> -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">Revolt Gallery<br><span> The Annex</span> Music and Events</h1>
      <p class="mb-4 pb-0">An underground venue for everything electronic</p>
      <a href="https://www.youtube.com/watch?v=oI5mr7F5MR4" class="glightbox play-btn mb-4"></a>
      <a href="#about" class="about-btn scrollto">About Revolt Gallery</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2>About Revolt Gallery</h2>
            <p>Sed nam ut dolor qui repellendus iusto odit. Possimus inventore eveniet accusamus error amet eius aut
              accusantium et. Non odit consequatur repudiandae sequi ea odio molestiae. Enim possimus sunt inventore in
              est ut optio sequi unde.</p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>222 Paseo Del Pueblo Norte, Taos, NM</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p>When ever the hell we want<br>24/7/365</p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Speakers Section ======= -->
    <section id="speakers">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>The Annex Players</h2>
          <p>Just a few of our amazing DJ's</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="{% static 'schedule/img/speakers/1.jpg' %}" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Justin Perry</a></h3>
                <p>DJ This Justin</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'schedule/img/speakers/2.jpg' %}" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Conor Sullivan</a></h3>
                <p>DJ Consoul</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img src="{% static 'schedule/img/speakers/3.jpg' %}" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Steve McFarland</a></h3>
                <p>DJ Dirty Steve</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="{% static 'schedule/img/speakers/4.jpg' %}" alt="Speaker 4" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Ariel Vackni</a></h3>
                <p>MagicWomen Music</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'schedule/img/speakers/5.jpg' %}" alt="Speaker 5" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Ramon</a></h3>
                <p>DJ Conrisa</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img src="{% static 'schedule/img/speakers/6.jpg' %}" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Swamp</a></h3>
                <p>THE DJ SWAMP</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End Speakers Section -->

    <!-- ======= Schedule Section ======= -->
    <section id="schedule" class="section-with-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Who? What? Where? When?</h2>
          <p>Upcoming music, art instalations and classes</p>
        </div>

        <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
          <li class="nav-item">
            <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab">Music</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab">Art</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-3" role="tab" data-bs-toggle="tab">Classes</a>
          </li>
        </ul>

        <h3 class="sub-heading">Art -- Music -- Classes</h3>

        <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <!-- Schdule Music 1 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

        {% for obj in show_listing|slice:'5' %}
          
            <div id="change" class="row schedule-item">
              <div class="col-md-2"><time>{{ obj.show_date|date:"M j" }} - {{ obj.show_time|time:'g:i'}}</time></div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="{% static 'schedule/img/speakers/1.jpg' %}" alt="Brenden Legros">
                </div>
                    
                    <div class="hide-1">
                    <h4 id="row1change" class='text-capitalize'>Headliner: {{ obj.artist_name }} </h4>
              <div id='row2change'><span>Genre: {{ obj.artist_genre }} || Price: {{ obj.entry_price|floatformat:2 }}</span> <br> <button class='btn btn-outline-danger mt-1' onclick="showThisDialog{{ forloop.counter0 }}()">More Info</button></div>
                    
              <dialog id="music-dialog_{{ forloop.counter0 }}" class='dialog-box-style border border-danger border-3 p-3'>
                <div class='mr-4 dialog-text p-3'>
                <span class='text-center'><h3 class='font-weight-bold text-capitalize'>{{ obj.artist_name }}</h3></span>
                <p><span class="fw-bold">Info:</span> {{ obj.artist_bio}} this is some extra text just in case this is some extra text just in case this is some extra text just in case this is some extra text just in case this is some extra text just in case </p>
                <p><span class="fw-bold">Artist Website:</span> {{ obj.artist_website}}</p>
                <p><span class="fw-bold">Music:</span> {{ obj.artist_music_page}} || Insta: {{ obj.artist_insta }}</p>
                
                
                <button onclick="hideThisDialog{{ forloop.counter0 }}()" class='btn btn-outline-danger mb-3 mt-3'>Close Me! </button>
                </div>
            </dialog> 
            
                    </div>
                    
              </div>
            </div>

            <!-- Modal -->
            

        {% endfor %}

      

          </div>
          <!-- End Schdule Day 1 -->

          <!-- Gallery -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">
    {% for obj in gallery_listing|slice:'5' %}
            <div class="row schedule-item">
              <div class="col-md-2"><time>{{ obj.show_date_start|date:'M j'}} - {{ obj.show_date_end|date:'M j'}}</time>
            {% if obj.age_restriction %}
            <p> Over 21 only</p>
            {% else %}
            <p>All ages</p>
            {% endif %}
              
              </div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="{% static 'schedule/img/speakers/1.jpg' %}" alt="Brenden Legros">
                </div>
                <h4 id="row1change">Show-Name: <span>{{ obj.visual_show_name }}</span></h4>
                    <div id='row2change'>
                    <h6><span class="fw-bold">Artist-Name:</span> {{ obj.artist_name }}</h6>
                    <button class='btn btn-outline-danger mt-1' onclick="showGalleryDialog{{ forloop.counter0 }}()">More Info</button></div>

                <dialog id="gallery-dialog_{{ forloop.counter0 }}" class='dialog-box-style border border-danger border-3 p-3'>
                  <div class='mr-4 dialog-text p-3'>
                    <span class='text-center'><h3 class='font-weight-bold text-capitalize'>{{ obj.artist_name }}</h3></span>
                    <p><span class="fw-bold">Info:</span> {{ obj.artist_bio}} this is some extra text just in case this is some extra text just in case this is some extra text just in case this is some extra text just in case this is some extra text just in case </p>
                    <p><span class="fw-bold">Artist Website:</span> {{ obj.artist_website}}</p>
                    <p><span class="fw-bold">Medium:</span> {{ obj.artist_medium}} || <span class="fw-bold">Price:</span> {{ obj.entry_price }}</p>
                <button onclick="hideGalleryDialog{{ forloop.counter0 }}()" class='btn btn-outline-danger mb-3 mt-3'>Close Me! </button>
                </div>
            </dialog>
            
              </div>
            </div>
    {% endfor %}
           

          </div>
          <!-- End Schdule gallery -->

          <!-- Schdule Class 3 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">
{% for obj in extra_curriucular_listing %}
            <div class="row schedule-item">
              <div class="col-md-2"><time>{{ obj.class_date|date:"M j" }} - {{ obj.class_time|time:'g:i'}}</time></div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="{% static 'schedule/img/speakers/2.jpg' %}" alt="Hubert Hirthe">
                </div>
                <h4>Class: {{obj.class_name}}</h4>
                <div id='row2change'><span>Teacher: {{ obj.class_teacher }} || Location: {{ obj.class_location }}</span><br> <button class='btn btn-outline-danger mt-1' onclick="showClassDialog{{ forloop.counter0 }}()">More Info</button></div>
              
               <dialog id="class-dialog_{{ forloop.counter0 }}" class='dialog-box-style border border-danger border-3 p-3'>
                  <div class='mr-4 dialog-text p-3'>
                    <span class='text-center'><h3 class='font-weight-bold text-capitalize'>{{ obj.class_name }}</h3></span>
                    <p><span class="fw-bold">Teacher:</span> {{ obj.class_teacher}}</p>
                    <p><span class="fw-bold">Info:</span> {{ obj.class_description}} this is some extra text just in case this is some extra text just in case this is some extra text just in case this is some extra text just in case this is some extra text just in case </p>
                    
                    <p><span class="fw-bold">Location:</span> {{ obj.class_location }} || <span class="fw-bold">Price:</span> {{ obj.class_price }}</p>
                <button onclick="hideClassDialog{{ forloop.counter0 }}()" class='btn btn-outline-danger mb-3 mt-3'>Close Me! </button>
                </div>
            </dialog>
              
              </div>
            </div>
    {% endfor %}
            

          </div>
          <!-- End Schdule Day 2 -->

        </div>

      </div>

    </section><!-- End Schedule Section -->

    <!-- ======= Venue Section ======= -->
    <section id="venue">

      <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
          <h2>The Revolt Annex</h2>
          <p class="text-uppercase">Annex venue location and past events</p>
        </div>

        <div class="row g-0">
          <div class="col-lg-6 venue-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2254.507198903464!2d-105.57068365223667!3d36.410068554771954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8717651628705279%3A0x99877053ad57b16e!2sRevolt%20Gallery!5e0!3m2!1sen!2sus!4v1686441245361!5m2!1sen!2sus" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6 venue-info">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8 position-relative">
                <h3>Right next to Revolt Gallery</h3>
                <p>Iste nobis eum sapiente sunt enim dolores labore accusantium autem. Cumque beatae ipsam. Est quae sit qui voluptatem corporis velit. Qui maxime accusamus possimus. Consequatur sequi et ea suscipit enim nesciunt quia velit.</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/1.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'schedule/img/venue-gallery/1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/2.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'schedule/img/venue-gallery/1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/3.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'schedule/img/venue-gallery/1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/4.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'schedule/img/venue-gallery/1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/5.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'schedule/img/venue-gallery/1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/6.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'schedule/img/venue-gallery/1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/7.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'schedule/img/venue-gallery/1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/8.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'schedule/img/venue-gallery/1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>
      </div>

    </section><!-- End Venue Section -->

    <!-- ======= Hotels Section ======= -->
    <section id="hotels" class="section-with-bg">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Traveling from out of Town?</h2>
          <p>Some exceptional accomodations to after part...I mean sleep at</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=800&photo_reference={{ place_image_list.0.0.photo_reference }}&key={{ api_key }}" alt="Hotel 1" class="img-fluid">
              </div>
              <h3><a href="#">{{nearby_accomodations.hotel1.result.name }}</a></h3>
              <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <p>{{nearby_accomodations.hotel1.result.formatted_phone_number}}</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=800&photo_reference={{ place_image_list.1.0.photo_reference }}&key={{ api_key }}" alt="Hotel 2" class="img-fluid">
              </div>
              <h3><a href="#">{{nearby_accomodations.hotel2.result.name }}</a></h3>
              <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill-half-full"></i>
              </div>
              <p>{{nearby_accomodations.hotel2.result.formatted_phone_number}}</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photo_reference={{ place_image_list.2.0.photo_reference }}&key={{ api_key }}" alt="Hotel 3" class="img-fluid">
              </div>
              <h3><a href="#">{{nearby_accomodations.hotel3.result.name }}</a></h3>
              <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <p>{{nearby_accomodations.hotel3.result.formatted_phone_number}}</p>
            </div>
          </div>

        </div>
      </div>

    </section><!-- End Hotels Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Gallery</h2>
          <p>Check our gallery from the recent events</p>
        </div>
      </div>

      <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><a href="assets/img/gallery/1.jpg" class="gallery-lightbox"><img src="{% static 'schedule/img/img-new/clark 2.jpeg' %}" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/2.jpg" class="gallery-lightbox"><img src="{% static 'schedule/img/img-new/clark opening.jpeg' %}" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/3.jpg" class="gallery-lightbox"><img src="{% static 'schedule/img/img-new/fellows_westward-small.jpg' %}" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/4.jpg" class="gallery-lightbox"><img src="{% static 'schedule/img/img-new/clark install.jpeg' %}" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/5.jpg" class="gallery-lightbox"><img src="{% static 'schedule/img/img-new/5.jpg' %}" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/6.jpg" class="gallery-lightbox"><img src="{% static 'schedule/img/img-new/6.jpg' %}" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/7.jpg" class="gallery-lightbox"><img src="{% static 'schedule/img/img-new/7.jpg' %}" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="assets/img/gallery/8.jpg" class="gallery-lightbox"><img src="{% static 'schedule/img/img-new/8.jpg' %}" class="img-fluid" alt=""></a></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </section><!-- End Gallery Section -->

    <!-- ======= Supporters Section ======= -->
    <section id="supporters" class="section-with-bg">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Sponsors</h2>
        </div>

        <div class="row no-gutters supporters-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'schedule/img/supporters/1.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'schedule/img/supporters/2.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'schedule/img/supporters/3.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'schedule/img/supporters/4.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'schedule/img/supporters/5.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'schedule/img/supporters/6.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'schedule/img/supporters/7.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'schedule/img/supporters/8.png' %}" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Sponsors Section -->

   

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact Us</h2>
          <p>Nihil officia ut sint molestiae tenetur.</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <address>A108 Adam Street, NY 535022, USA</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+19735985837">+1 973-598-5837</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:taos.haus.thumps@gmail.com">taos.haus.thumps@gmail.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <form method="POST" action='{% url "contact_us" %}' role="form" class="">
          {% csrf_token %}
            <div class="row">
            <p>{{contact_form.non_field_errors }}</p>
              <div class="form-group col-md-6">
                <input type="text" name="{{ contact_form.name.name }}" {% if contact_form.name.value != None %} value="{{ contact_form.name.value|stringformat:'s' }}"{% endif %}
                      maxlength="{{ contact_form.name.field.max_length }}" class='form-control' id='{{ contact_form.name.name }}' placeholder='Your Name' required/>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <input type="email" name="{{ contact_form.email.name }}" {% if contact_form.email.value != None %} value="{{ contact_form.email.value|stringformat:'s' }}"{% endif %}
                      maxlength="{{ contact_form.email.field.max_length }}" class='form-control' id='{{ contact_form.email.name }}' placeholder='Your Email' required/>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" name="{{ contact_form.subject.name }}" {% if contact_form.subject.value != None %} value="{{ contact_form.subject.value|stringformat:'s' }}"{% endif %}
              maxlength="{{ contact_form.subject.field.max_length }}" class='form-control' id='{{ contact_form.subject.name }}' placeholder='Subject' required/>

            </div>
            <div class="form-group mt-3">
              <textarea id="{{ contact_form.message.name }}" class="form-control" name="{{ contact_form.message.name }}" {% if contact_form.message.value != None %} value="{{ contact_form.message.value|stringformat:'s' }}"{% endif %} rows="5" placeholder="Message" required></textarea>
            </div>
           
            <div class="text-center mt-3"><button type="submit" class='btn btn-outline-danger'>Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="{% static 'schedule/img/logo.png' %}" alt="TheEvenet">
            <p>In alias aperiam. Placeat tempore facere. Officiis voluptate ipsam vel eveniet est dolor et totam porro. Perspiciatis ad omnis fugit molestiae recusandae possimus. Aut consectetur id quis. In inventore consequatur ad voluptate cupiditate debitis accusamus repellat cumque.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              252 Paseo del Pueblo Norte <br>
              Taos, NM 87571<br>
              <strong>Phone:</strong> 973-598-5837<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Revolt Gallery</strong>. 
      </div>
      <div class="credits">
      
        Designed by <a href="#">Taos_Haus</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src='{% static "schedule/vendor/aos/aos.js" %}'></script>

  <script src="https://smtpjs.com/v3/smtp.js"></script>
  

  <script src='{% static "schedule/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
<script src='{% static "schedule/vendor/glightbox/js/glightbox.min.js" %}'></script>
<script src='{% static "schedule/vendor/swiper/swiper-bundle.min.js" %}'></script>
<script src='{% static "schedule/vendor/php-email-form/validate.js" %}'></script>
  <!-- Template Main JS File -->

  <script src='{% static "schedule/js/main.js" %}'></script>

  <script src="{% static 'schedule/js/custom-js.js' %}"></script>

</body>

</html>