
{% load static %}
{% comment %} <div class="image-left banner-img">
      <img src="{% static '/schedule/img/pngwing.com(1).png' %}">
    </div> {% endcomment %}

<nav class="navbar-1">

    <ul id="navlist">
        <li>
            <a href="http://127.0.0.1:8000/revolt-art/" class=''><span class='glowing-txt'>HOME</span></a>
        </li>
        <li>
            
            <a href="http://127.0.0.1:8000/revolt-annex/schedule/" class=''><span class='glowing-txt'>MUSIC</span></a>
        </li>
       
        <li>
            
            <a href="http://127.0.0.1:8000/revolt-art/contact-us/" class=''><span class='glowing-txt'>WHERE</span></a>
        </li>

    </ul>

</nav>
{% comment %} <div class="image-right banner-img">
      <img src="{% static '/schedule/img/dj_logo_header_mirror.png' %}">
    </div> {% endcomment %}

