html {
    scroll-padding-top: 100px;
}



body {
    background-image: linear-gradient(rgba(7, 7, 7, 0.616), rgba(255,0,0,.7));
    background-position: center;
    background-repeat: no-repeat;
    text-align: center !important;
    background-color: black;
}

.image-background {
    opacity:0.8;
    background-color:black;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:-1;
}

@media (min-width: 768px) {
	.navbar {
	  text-align: center !important;
	  float: none;
	  display: inline-block;
	}
  }
 
  
  nav {
	background: none !important;
	text-transform: uppercase;
  }
  nav li {
	margin-left: 3em;
	margin-right: 3em;
  }
  nav li a {
	transition: 0.5s color ease-in-out;
  }


#foot-cont {
    height: fit-content;
}

#nav-section {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top:rgb(152, 29, 29) solid 3px;
    border-bottom: rgb(152, 29, 29) solid 3px;
    width: 50%;
    margin: 0 auto;

}

dialog {
    backdrop-filter: blur(8px);
    height: max-content;
    padding: 15px;
}

#content-cont {
    margin-bottom: 2px;
    margin-top: 3px;
    padding: 50px;
    min-height: 1000px;
}

#banner-nav {
    padding-top: 80px;
}

.body-div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}



.header-1-custom {
    font-family: 'Revolution', sans-serif;
    color: red;
    font-size: 6em;
    padding: 15px;
}



.header-2-custom {
    font-family: 'Revolution', sans-serif;
    color: red;
    font-size: 2em;
    padding: 15px;
    margin: 20px 10px 20px 10px;
}



/* .navbar-1 {
    margin: 0 auto;
    width: 50%;
    

} */



#cover {
    width: 800px;
    height: 800px;
    margin: 0 auto;
   
}

#cover img {
    float: left;
    border: 2px solid rgb(152, 29, 29);
    width: 45%;
    margin: 1.66%;
    transition: all .2s ease-in-out;
}





#cover img:hover {
    float: left;
    border: 2px solid rgb(152, 29, 29);
    width: 45%;
    margin: 1.66%;
    transform: scale(.9);
    border-radius: 50%;
    box-shadow:
    0 0 50px #fff,            /* outer white */
    -10px 0 80px rgb(205, 5, 5),        /* outer left magenta */
    10px 0 80px rgb(177, 227, 12);         /* outer right cyan */
    
    
}

.grid-contain {
    width: 100%;
}




.footy {
    background-color: rgba(12, 15, 100, .5);
}


/* Key Frames */
/* 
@keyframes rotate-up {
    from {
         ;
    }
    to {
      background-color: yellow;
      transform: translate(50vw, 50vh);
     }
} */

/* guardian image */
.image-left {
    /* top: 0px;
    left: 0px; */
    height: inherit;
    float: left;
    max-width: fit-content;
    max-height: fit-content;
}

.image-right {
    /* top: 0px;
    right: 0px; */
    height: inherit;
    float: right;
}

.annex-info {
    width: 50%;
    margin: 0 auto;
    border-bottom:rgb(152, 29, 29) solid 3px;
}

/* overlay css for boxes on homepage */

/* * css for future schedule */


.future-child-container:hover {
    scale: 1.1;
}