{% load static %}
<div id="about-forward" class="border-bottom border-danger" data-aos="fade-up">
    <h2 id='about-headline' class='text-center mt-4 text-shad-dark-back'>About <span class="deep-red">Revolt</span></h2>
    <div class="row">
        <dic class="col-lg-1"></dic>
        <div class="col-lg-4 p-5">
            <div class="text-start">

                <div class="">
                    <div class="image-container">

                        <img class="w-100 img-fluid mx-auto mt-1 border border-danger"
                             src="{% static 'schedule/img/speakers/d-steve.jpg' %}" alt="stever" loading="lazy"/>
                        <p class="custom-paragraph image-info-about">Steve Mcfarland, Gallery Owner & Curator</p>
                        <div class="overlay">


                            <div class="innertext mobile-none p-3">
                                <p class="custom-paragraph fs-5 text-shad-dark-back mobile-none">
                                    McFarland - who fell in love with art in high school where he says he seemed to fail
                                    everything else -- helped tear down venue walls or find food and sound for parties.
                                    With Revolt, McFarland stepped into full-on leadership roles -- contacting artists,
                                    creating flyers, organizing catering - host from beginning to end.
                                    <a href='https://www.taosnews.com/tempo/arts/revolts-evolution/article_766d1000-d170-5ecc-9677-3153790c4761.html'
                                       class='text-light'>(Taos News, Arielle Christian)</a></div>

                        </div>


                    </div>

                </div>
            </div>

        </div>
        <div class="col-lg-7 p-5 text-start my-auto">

            <p class="text-shad-dark-back fs-5 custom-paragraph">
                Since our opening in 2017, Taos Revolt Gallery has sought to offer a
                space for local, emerging, and underground artists to be heard in
                the TAOS community.
                <br>
                <br>
                Taos Revolt has transformed its historic downtown site into a dynamic, thriving facility for artistic
                exploration. We enjoy hosting a variety of events and exhibits - from small to large scale
                installations, immersive music, art, performances, and more. </p>
            <p class="fs-5 text-shad-dark-back custom-paragraph">"This is all for the community and to fill the void in this art town
                that doesn't really have events for our age group," Steve McFarland, (Taos News, Arielle Christian)</p>


        </div>

    </div>
    <div id="sarah-mobile" class='row'>

        <div class="col-lg-6 p-5">
            <div class="text-start">

                <div class="">
                    <div class="image-container">

                        <img class="w-100 img-fluid mx-auto mt-1 border border-danger"
                             src="{% static 'schedule/img/speakers/sarah_stolar_headsot_new.jpeg' %}" alt="stever"
                             loading="lazy"/>
                        <p class="custom-paragraph image-info-about">Sarah Stoler, Co-curator</p>
                        <div class="overlay">

                            <p class="custom-paragraph fs-3 mt-4 text-shad-dark-back">Sarah Stolar</p>

                            <div class="innertext mobile-none">
                                <p class="custom-paragraph fs-6 mobile-none">Sarah Stolar is an interdisciplinary
                                    artist living in Santa Fe, New Mexico.
                                    The breadth of her work includes painting, drawing, multimedia installation, film,
                                    video, and performance art.  Sarah, an internationally
                                    award-winning filmmaker, including Best Experimental Film at Synergy Film Festival,
                                    New York City and finalist for the Andy Warhol Award for Best Experimental Film in
                                    the US. A committed educator for over fifteen years, Sarah Stolar is currently the
                                    Chair of the Department of Fine Arts, Film and Digital Media at the University of
                                    New Mexico - Taos.</p>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>




    <div class='row'>
        <dic class="col-lg-1"></dic>
        <div id='sarah-desktop' class="col-lg-4 p-5">
            <div class="text-start">

                <div class="">
                    <div class="image-container">

                        <img class="w-100 img-fluid mx-auto mt-1 border border-danger"
                             src="{% static 'schedule/img/speakers/sarah_stolar_headsot_new.jpeg' %}" alt="stever"
                             loading="lazy"/>
                        <p class="custom-paragraph image-info-about">Sarah Stoler, Co-curator</p>
                        <div class="overlay">



                            <div class="innertext mobile-none">
                                <p class="custom-paragraph fs-5 mobile-none text-shad-dark-back">Sarah Stolar is an interdisciplinary
                                    artist living in Santa Fe, New Mexico. The breadth of her work includes painting,
                                    drawing, multimedia installation, film, video, and performance art. Sarah, an
                                    internationally award-winning filmmaker, including Best Experimental Film at Synergy
                                    Film Festival, New York City and finalist for the Andy Warhol Award for Best
                                    Experimental Film in the US.</p>

                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>

        <div class="col-lg-7 p-5 text-start my-auto">

            <p class="custom-paragraph fs-5 p-2 mt-5 text-shad-dark-back">
            As of 2020, Taos Revolt Gallery renewed its mission to support artists from diverse backgrounds and elevate the voices of Black, Indigenous, People of Color, and LGBTQIA+ people.
We seek to build equality through a strong creative community, inclusive of all groups and individuals.
<br><br>
Taos Revolt Gallery is committed to artistic and creative freedom for all.
            </p>


        </div>


    </div>


    <div class="row">
        <div class="col-lg-7 mx-auto p-5">
            <h4 class="text-start text-light custom-paragraph text-shad-dark-back">Come view the art at the gallery, listen to live music, enjoy
                local food, and join us in building this community.</h4>
        </div>
    </div>
</div>