{% load static %}
<div id="about-forward" class="" data-aos="fade-up">
<h2 class='text-center'>About <span class="text-danger">Revolt</span> Gallery</h2>
       <div class="row">
           <div class="col-lg-6 p-5 text-center my-auto">
        
            <p class="fs-5">
                Since our opening in 2017, Taos Revolt Gallery has sought to offer a
                space for local, emerging, and underground artists to be heard in
                the TAOS community. We offer a reflection of New Mexico's unique and
                evolving cultural landscape through Taos' growing local talent,
                alongside a number of international artists who share our vision. As
                of 2020, Taos Revolt Gallery renewed its mission to support artists
                from diverse backgrounds and elevate the voices of Black,
                Indigenous, People of Color, and LGBTQIA+ people. We seek to build
                equality through a strong, inclusive and creative community. Taos
                Revolt Gallery is committed to artistic and creative freedom for
                all.
              
              </p>
            

        </div>
           <div class="col-lg-6 p-5">
            <div class="text-center">
        <h2 class="text-center">Owner & Curator</h2>
        <h3 class='about-mobile-hide'>Steve McFarland</h3>
        <div class="">
            <div class="image-container">
           
                <img class="w-100 img-fluid mx-auto mt-1 border border-danger" src="{% static 'schedule/img/speakers/d-steve.jpg' %}"  alt="stever" loading="lazy" />
                <div class="overlay">
                 
                        <p class="fs-3 mt-4">Steve McFarland</p>
                    
                    <div class="innertext mobile-none">
 <p class="fs-5 mobile-none">Revolt Gallery’s owner and founder, Steve McFarland, shares his insights on creating a space for new artistic voices in Taos. 
                        McFarland - who fell in love with art in high school where he says he seemed to fail everything else -- helped tear down venue walls or find food and sound for parties. 
                        With Revolt, McFarland stepped into full-on leadership roles -- contacting artists, creating flyers, organizing catering - host from beginning to end. 
                        <a href='https://www.taosnews.com/tempo/arts/revolts-evolution/article_766d1000-d170-5ecc-9677-3153790c4761.html' class='text-light'>(Taos News, Arielle Christian)</a>                    </div>
                   
                </div>
                     
     
              
          
            </div>

            
        </div>
    </div>
              
          </div>
        </div>
        <div id="sarah-mobile" class='row' >

      <div class="col-lg-6 p-5">
            <div class="text-center">
        <h2 class="text-center">Co-Curator</h2>
        <h3 class='about-mobile-hide'>Sarah Stolar</h3>
        <div class="">
            <div class="image-container">
           
                <img class="w-100 img-fluid mx-auto mt-1 border border-danger" src="{% static 'schedule/img/speakers/sarah_stolar_headsot_new.jpeg' %}"  alt="stever" loading="lazy" />
                <div class="overlay">   
                 
                        <p class="fs-3 mt-4">Sarah Stolar</p>
                    
                    <div class="innertext mobile-none">
 <p class="fs-5 mobile-none">Sarah Stolar is an interdisciplinary artist living in Santa Fe, New Mexico. 
The breadth of her work includes painting, drawing, multimedia installation, film, video, and performance art.  She holds a BFA in Painting from the Art Academy of Cincinnati (2000), and an MFA in New Genres from the San Francisco Art Institute (2003) and is exhibited in solo exhibitions at the New Mexico Museum of Art, Harwood Museum of Art, and BGMoCA in Montevideo, Uruguay.  Sarah, an internationally award-winning filmmaker, including Best Experimental Film at Synergy Film Festival, New York City and finalist for the Andy Warhol Award for Best Experimental Film in the US. A committed educator for over fifteen years, Sarah Stolar is currently the Chair of the Department of Fine Arts, Film and Digital Media at the University of New Mexico - Taos.</p>

                    </div>
                   
                </div>
                
            </div>
        </div>
    </div>
              
          </div>


        </div>
        
        <div class="row">  
                 <div class="col-lg-6 p-5">
            <div class="text-center">
        <h2 class="text-center">Co-Curator</h2>
        <h3 class='about-mobile-hide'>Laurel Taylor</h3>
        <div class="">
            <div class="image-container">
            
                <img class="w-100 img-fluid mx-auto mt-1 border border-danger" src="{% static 'schedule/img/img-new/laurelcurator.webp' %}" alt="Laurel Taylor" loading="lazy" />
                <div class="overlay">
                 
                      <a href="https://www.wildeinkshop.com/artist-bio" class="text-decoration-none">  <p class="fs-3 mt-4">Laurel Taylor</p></a>
                    
                    <div class="innertext mobile-none">
                        <p class="fs-5">Laurel Taylor, aka Wilde.Ink, is a multidisciplinary artist based in Taos, New Mexico. At her print studio in Arroyo Seco, NM, she hand carves imagery inspired by the surrounding nature, wildlife, and the expanses of the mind and spirit. With Wilde.Ink imagery, Laurel creates apparel and accessories adorned with hand-pulled prints, large-scale hand-dyed and handmade cotton tapestries in meditative patterns, and works on paper.</p>
                    </div>
                   
                </div>
                
            </div>
        </div>
    </div>
              
          </div>



        <div class="col-lg-6 p-5 text-center my-auto" style="vertical-align: middle;">
 


 <p class="fs-5">
                
                Formerly the location of the Hulse-Warman Gallery, Taos Revolt has transformed its historic downtown site into a dynamic, thriving facility for artistic exploration. With unique indoor and outdoor areas, we enjoy hosting a variety of events and exhibits - from small to large scale installations, immersive music, art, performances, and more. Taos Revolt is thrilled to present an ever-changing rotation of exhibits. Come view the art at the gallery, listen to live music, enjoy local food, and be with community.
               <br>
               </p>

        </div>
   

        </div>

        <div class='row'>
                   <div class="col-lg-6 p-5 text-center my-auto">
            
                     <p class="fs-5 p-2 mt-5">
As of 2020, Taos Revolt Gallery renewed its mission to support artists from diverse backgrounds and elevate the voices of Black, Indigenous, People of Color, and LGBTQIA+ people. We seek to build equality through a strong creative community, inclusive of all groups and individuals. Taos Revolt Gallery is committed to artistic and creative freedom for all.            
       <br><br>
       "This is all for the community and to fill the void in this art town that doesn't really have events for our age group," Steve McFarland, <a href='https://www.taosnews.com/tempo/arts/revolts-evolution/article_766d1000-d170-5ecc-9677-3153790c4761.html' class='text-light'>(Taos News, Arielle Christian)</a>
        </p><br>
      <p class="fs-5">
We enthusiastically invite you to join us in building this community.       
 </p>
            

        </div>

              <div id='sarah-desktop' class="col-lg-6 p-5">
            <div class="text-center">
        <h2 class="text-center">Co-Curator</h2>
        <div class="">
            <div class="image-container">
           
                <img class="w-100 img-fluid mx-auto mt-1 border border-danger" src="{% static 'schedule/img/speakers/sarah_stolar_headsot_new.jpeg' %}"  alt="stever" loading="lazy" />
                <div class="overlay">   
                 
                        <p class="fs-3 mt-4">Sarah Stolar</p>
                    
                    <div class="innertext mobile-none">
 <p class="fs-5 mobile-none">Sarah Stolar is an interdisciplinary artist living in Santa Fe, New Mexico. 
The breadth of her work includes painting, drawing, multimedia installation, film, video, and performance art.  She holds a BFA in Painting from the Art Academy of Cincinnati (2000), and an MFA in New Genres from the San Francisco Art Institute (2003) and is exhibited in solo exhibitions at the New Mexico Museum of Art, Harwood Museum of Art, and BGMoCA in Montevideo, Uruguay.  Sarah, an internationally award-winning filmmaker, including Best Experimental Film at Synergy Film Festival, New York City and finalist for the Andy Warhol Award for Best Experimental Film in the US. A committed educator for over fifteen years, Sarah Stolar is currently the Chair of the Department of Fine Arts, Film and Digital Media at the University of New Mexico - Taos.</p>

                    </div>
                   
                </div>
                
            </div>
        </div>
    </div>
              
          </div>
        </div>
      </div>