{% extends "schedule/base.html" %}
{% load static %}

{% block title %} Revolt Archives {% endblock %}

{% block bodycontent %}
<style>
  .shad {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  }
</style>
<main class="mt-5">
  <section class="py-5 text-center container">
    <div class="container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 col-sm mx-auto">
          {% if show_instance_data %}
            <h1 class="fs-1">{{ show_instance_data.archive_show_name }}</h1>
            <h2 class="text-dark"><span class="text-danger">Artist</span> || {{ show_instance_data.archive_artist_name }}</h2>
            <h3 class="text-dark"><span class="text-danger">Date</span> || {{ show_instance_data.archive_start_date }} <span class="text-danger">to</span> {{ show_instance_data.archive_end_date }}</h3>
          {% else %}
            <h1>Show Not Found</h1>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">
      <!-- Image carousel start -->
      <div class="row g-3">
        <div id="archive-container" class="images-wrapper text-center col-12">
          {% for image in related_images %}
            <a href="https://live.staticflickr.com/{{ image.archive_image_server }}/{{ image.archive_image_id }}_{{ image.archive_image_secret }}.jpg">
              <img src="https://live.staticflickr.com/{{ image.archive_image_server }}/{{ image.archive_image_id }}_{{ image.archive_image_secret }}.jpg" loading="lazy" class="shad m-1 img-fluid border border-danger-subtle">
            </a>
          {% endfor %}
        </div>
      </div>
      <!-- Image carousel end -->

      <!-- Back to Past button -->
      <div class="row mt-3 w-50 mx-auto">
        <a href="{% url 'gallery-revolt' %}?open-past=true" class="btn btn-danger w-75 mx-auto">Back to Past</a>
      </div>

      <!-- Blurb section -->
      <div class="row mt-4 p-3">
        <div class="col-12">
          <h1 class="text-center">Please contact us if you are not seeing a specific show!</h1>
                    <h1 class="text-center">We are working through getting the shows on the archive!</h1>

        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
