{% extends "schedule/base.html" %}
{% load static %} {% block title%} Revolt
Gallery {% endblock %} 

{% block bodycontent %}

  <section id="about" class="">
    {% comment %}  {% endcomment %}

 <div class="container mt-5" data-aos="fade-up">
      <div class="section-header">
        <h2>Reset || Weekly Classes</h2>
        <p>Community Classes and Gatherings</p>
        <p>Reset Performing Arts is host to weekly classes and workshops provided and lead by local artists, experts or enthusiasts</p>
      </div>


<div class="container px-4 mt-4">
     <div class="row justify-content-center">
        <!-- individual class cards -->
<div class="col-lg-5 col-md-4">
   <!-- Monday skating -->

    
<div class="card mobile-margin">
  <div class="card-img-darken"></div>
<img class="card-img" src="{% static 'schedule/img/img-new/skateganglarge_resize.jpeg' %}" loading="lazy" alt="Bologna" style="filter: brightness(30%);">
  <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
    <h4 class="card-title fw-bold">Skate Gang - Roller Skate Class</h4>
    <h5 class="card-subtitle mb-2">Monday || 7:00 PM</h5>
    <h5 class="card-subtitle mb-2">Tamara Stackpoole</h5>
    <h5 class="card-subtitle mb-2">Location: Reset Performing Arts</h5>
    <h5 class="card-subtitle mb-2">Price || $15.00 per or<span class=''> $120</span>~ 10 Pack</h5>
    <h5 class="card-subtitle mb-2"><span class=''>Reserve by Venmo: </span>@Eternalbecoming</h5>
    <h5 class="card-subtitle mb-2"><span class=''>OR CASH </span>at the Door</h5>
    <h5 class="card-subtitle mb-2">718<span class=''> 578 </span>5122</h5>
    <div class=" text-decoration-none">
      <a href='www.eternalbecoming.com' class="text-decoration-none"><h5 class="mb-2 text-light">Eternal Becoming Website</h5></a>
    </div>
    <div class="link d-flex text-center">
      <div class='m-1'>
        <a class="btn btn-primary m-3" style="background-color: #ac2bac;" href="https://www.instagram.com/Eternalbecoming" role="button"><i class="fab fa-instagram"></i></a>
      </div>
      <!-- Facebook -->
      <!-- Linkedin -->
      <div class='m-1'>
        <a class="btn btn-primary m-3" style="background-color: #0082ca;" href="https://www.linkedin.com/in/tamara-stackpoole-6a7484aa/" role="button"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</div>

    



</div> 

<div class="col-lg-2 col-md-4">
</div>

<div class="col-lg-5 col-md-4">
   <!-- wednesday kickboxing -->
<div class="card">
  <div class="card-img-darken"></div>
<img class="card-img" src="{% static 'schedule/img/img-new/amasmove_resize.png' %}" loading="lazy" alt="Bologna" style="filter: brightness(30%);">
  <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
    <h4 class="card-title fw-bold">AmasMovement Cardio kickboxing</h4>
    <h5 class="card-subtitle mb-2">Wednesday || 6:00 PM</h5>
    <h5 class="card-subtitle mb-2">Ashley Willock</h5>
    <h5 class="card-subtitle mb-2">Free</h5>
    <h5 class="card-subtitle mb-2">Location: Reset Performing Arts</h5>
  
    <div class="link d-flex text-center">
            <div class='m-1'>
            <!-- Instagram -->
<a class="btn btn-primary m-3" style="background-color: #ac2bac;" href="https://www.instagram.com/amasmovement/?hl=en" role="button"><i class="fab fa-instagram"></i></a>
          </div> 
           <div class='m-1'><!-- Facebook -->
<a class="btn btn-primary m-3" style="background-color: #3b5998;" href="https://www.facebook.com/amasmovement/" role="button"><i class="fab fa-facebook-f"></i></a>
      </div>
    </div>
  </div>
</div>



</div> 
    </div>

</div>


  </section>

{% endblock %}



      