     <div class="col-md-4">
          <div class="contact-address">
            <i class="bi bi-geo-alt"></i>
            <h3>Address</h3>
            <address>222 Paseo Del Pueblo Norte, Taos, NM 87571</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="bi bi-phone"></i>
            <h3>Phone Number</h3>
            <p><a href="tel:5756162426" class='text-dark'>(575) 616-2426</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="bi bi-envelope"></i>
            <h3>Email</h3>
            <p>
              <a href="mailto:revoltgallery@gmail.com" class='text-dark'
                >revoltgallery@gmail.com</a
              >
            </p>
          </div>
        </div>