








        <form method="POST" action="{% url 'contact-us' %}" role="form" class="">
  {% csrf_token %}
  <div class="row">
    <p>{{ contact_form.non_field_errors }}</p>
    <div class="form-group col-md-6">
    
      {{contact_form.emailform_name}}
    </div>
    <div class="form-group col-md-6 mt-3 mt-md-0">
     {{ contact_form.emailform_email }}
    </div>
  </div>
  <div class="form-group mt-3">
    {{ contact_form.emailform_subject }}
  </div>
  <div class="form-group mt-3">
    {{ contact_form.emailform_message }}
  </div>

  <div class="text-center mt-3">
                  <button type="submit" class="button-89 text-danger custom-font-change shad">Future and Past Exhibits</button>

  </div>
</form>








