{% extends "schedule/base.html" %} {% load static %} {% block title%} Revolt
Gallery {% endblock %} 

{% block bodycontent %}



  <section id="contact" class="section-bg">
    <div class="container mt-5 pt-4" data-aos="fade-up">
      <div class="section-header">
        <h2 class="text-shad-dark-back">Contact Revolt</h2>
        <p class="text-shad-dark-back"><a href="tel:5756162426" class='text-dark'> Call </a><span class='text-danger'>||</span><a href="mailto:revoltgallery@gmail.com" class='text-dark'> Email </a> <span class='text-danger'>||</span><span class="text-dark"> Visit</span></p>
    
      </div>

      <div class="row contact-info">
   {% include 'schedule/contact_information.html' %}
      </div>

      <div class="form ">
      
  {% include 'schedule/contact_form.html' %}



      </div>
    </div>
  </section>


{% endblock %}