 {% load static %}

 
 <div id="slide-to-insta" class="container pt-5 mobile-event-1" data-aos="fade-up">
  <div class="section-header">
    <h2>Upcoming Events at Revolt and Reset</h2>
    <p>Art Shows, Musical Performances, Community</p>
  </div>

  <div class="row mb-5">

    <h2 class='text-center fw-bold'>TECH <span class="text-danger">NOIR</span> COUNTDOWN</h2>
    <h4 class='text-center fw-bold'>New Years Party <span class="text-danger">&</span> Benefit Show</h4>
    <h6 class='text-center fw-bold'>| Soldados <span class="text-danger">and</span> Taos Haus |</h6>

    <video width="450" height="700" class='mx-auto mt-3' autoplay>
      <source src="{% static 'schedule/img/img-new/soldadosnye.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
    </video> 

  </div>



<div class="row mb-5">
<div class="col-lg-6 p-4">

<div class="align-items-center">
  <h2 class="text-center fw-bold">Spinning All<span class="text-danger">Night Long</span></h2>
<h3 class="text-center fw-bold">Ama<span class="text-danger">nita</span></h3>
<h3 class='text-center fw-bold'>DJ<span class="text-danger"> This</span> Justin</h3>

 <h3 class="text-center fw-bold">Presenting: <span class="text-danger">DJ</span> ON1</h3>



</div>
</div>

<div class="col-lg-6 text-center p-4">

  <h3 class="text-center fw-bold">Special <span class="text-danger">B2B2B</span> Set to ring in the New Year</h3>

  <h4 class='text-center'>ALL <span class="text-danger">PROCEEDS DONATED</span> TO DREAMTREE</h4>
  
  <h4 class='text-center'><a href='https://www.google.com/maps/place/Soldados/@36.3741389,-105.5925294,16.01z/data=!4m14!1m7!3m6!1s0x87176516552586d9:0x63840be13a4f6360!2sSoldados!8m2!3d36.3740261!4d-105.5925294!16s%2Fg%2F11s9c_jnlr!3m5!1s0x87176516552586d9:0x63840be13a4f6360!8m2!3d36.3740261!4d-105.5925294!16s%2Fg%2F11s9c_jnlr?entry=ttu' class='text-dark'>SOLDADOS, TAOS  </a><span class="text-danger">DOORS AT 8PM </span></h4>
      <h4 class='text-center'>All Black Event  <span class="text-danger">21+ || CASH ONLY BAR </span></h4>




</div>



</div>

</div>






