 {% load static %}

 
 <div id="slide-to-insta" class="container pt-5 mobile-event-1" data-aos="fade-up">
  <div class="section-header">
    <h2>Upcoming Events at Revolt and Reset</h2>
    <p>Art Shows, Musical Performances, Community</p>
  </div>

  <div class="row text-center fw-bold">
    <div class="col-md-6 mx-auto">
      <img src="{% static 'schedule/img/img-new/revolt-front.jpg' %}" alt="Image 2" class="img-fluid h-50">
      <h2 class='mt-3'><span class='text-danger'>Check Back</span> Soon For Upcoming <span class='text-danger'>Events</span></h2>
      <h3 class="card-text">Events and Shows coming back in 2024</h3>
      <h3 class="card-text">Lookout for a Huge Announcement Soon </h3>
    </div>
{% comment %} 
    <div class="col-md-6">
      <h2>This holiday season shop local at Juniper Berry - a pop up holiday market at the Revolt compound!</h2>
      <h3 class='mt-3'>Find a gift for everyone on your list from 15+ women makers and artists from the Taos Area.</h3>
      <h3 class="card-text">Enjoy a complimentary festive hot drink while you shop and make sure to bring some cash to tip our local acoustic musicians that will be playing, too!</h3>
      <h3 class="card-text">Shop in the gallery and music spaces and grab some food from the Godega by Church next door.</h3>
    </div>
  </div> {% endcomment %}
</div>

<div class="col-md-6 mx-auto">
  <img src="{% static 'schedule/img/img-new/revolt-front.jpg' %}" alt="Image 2" class="img-fluid h-50">
  <h2 class='mt-3'><span class='text-danger'>Check Back</span> Soon For Upcoming <span class='text-danger'>Events</span></h2>
  <h3 class="card-text">Events and Shows coming back in 2024</h3>
  <h3 class="card-text">Lookout for a Huge Announcement Soon </h3>
</div>

  {% comment %} <div class="row text-center fw-bold">
    <div class="col-md-6 mb-3">
      <img src="{% static 'schedule/img/img-new/laurel_sugarmarket.jpg' %}" alt="Image 1" class="img-fluid">
      <h2 class="mt-3"><span class='text-danger'>Holiday</span> Market at <span class='text-danger'>Revolt</span></h2>
      <h3 class="card-text">12/15/23 4:00 PM - 8:00 PM</h3>
      <h3 class="card-text">12/16/23 12:00 PM - 4:00 PM</h3>
    </div>
    <div class="col-md-6 mb-3">
      <img src="{% static 'schedule/img/img-new/littlebird_party.jpg' %}" alt="Image 2" class="img-fluid">
      <h2 class="mt-3"><span class='text-danger'>Jesse</span> Littlebird Opening <span class='text-danger'>Afterparty</span></h2>
      <h3 class="card-text"><span class='text-danger'>Friday</span> 11/10/23 9:00 PM - <span class='text-danger'>Close</span></h3>
      <h3>Where: <span class='text-danger'>Reset</span> Performing <span class='text-danger'>Arts</span></h3>
    </div>
  </div> {% endcomment %}
</div>





