 {% load static %}

 
 <div id="slide-to-insta" class="container pt-5 mobile-event-1" data-aos="fade-up">
  <div class="section-header">
    <h2>Upcoming Events at Revolt and Reset</h2>
    <p>Art Shows, Musical Performances, Community</p>
  </div>

  <div class="row mb-5">



    <div class="previous-art-show mt-3">
      <div class="row">
        <div class="col-lg text-center p-4"></div>

        <div class="container mt-5 pb-5" data-aos="fade-up" data-aos-delay="100">
          <h1 class="text-center mb-2 fs-1">RESET PERFORMING <span class="text-dark">ARTS</span></h1>
          <div class="text-center">
            <h2>NEXT SHOW WILL BE ANNOUNCED <span class="text-dark">HERE</span></h2>
            <h2>We look forward to seeing all of you at the next show!</h2>
          </div>
        </div>
        <div class="col-lg text-center p-4"></div>
      </div>




      <!-- End previous show Gallery Section -->
    </div>

  </div>

  </div>



<div class="row mb-5">








</div>

</div>






