{% extends "schedule/base.html" %}
{% load static %}

{% block bodycontent %}
<main class="body-container">
  <section class="mt-5 py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 col-sm mx-auto">
        {% if show_instance_data %}
          <h1 class="fs-1">{{ show_instance_data.archive_show_name }}</h1>
          <h2 class="custom-font text-warning"><span class="text-danger">Artist</span> || {{ show_instance_data.archive_artist_name }}</h2>
        <h3 class="custom-font text-warning"><span class="text-danger">Date</span> || {{ show_instance_data.archive_start_date }} <span class="text-danger">to</span> {{ show_instance_data.archive_end_date }}</h3>
        {% else %}
          <h1>Show Not Found</h1>
        {% endif %}
        <a href="{% url 'gallery-revolt' %}?open-past=true" class="btn btn-danger custom-font">Back to Past</a>
      </div>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">
      <div class="row g-3">
        <!-- car start -->
<div class="container carousel-container">
  <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for image in related_images %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
          <div class="text-center">
            <a href="https://live.staticflickr.com/{{ image.archive_image_server }}/{{ image.archive_image_id }}_{{ image.archive_image_secret }}.jpg">
              <img src="https://live.staticflickr.com/{{ image.archive_image_server }}/{{ image.archive_image_id }}_{{ image.archive_image_secret }}.jpg" class='d-block' loading="lazy">
            </a>
          </div>
        </div>

        {% if forloop.counter|divisibleby:3 and not forloop.last %}
          <br><!-- Clears the float to start a new row -->
        {% endif %}
      {% empty %}
        <div class='text-center'>
          <h2>No Images Available</h2>
        </div>
      {% endfor %}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
        <!-- car start -->
      </div>
    </div>
  </div>
</main>
{% endblock %}
