{% extends "schedule/base.html" %}
{% load static %}

{% block bodycontent %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        {% if show_instance_data %}
          <h1>{{ show_instance_data.archive_show_name }}</h1>
          <p>{{ show_instance_data.archive_artist_name }}</p>
        {% else %}
          <h1>Show Not Found</h1>
        {% endif %}
      </div>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">
      <div class="row g-3">
        {% for image in related_images %}
          <div class="col ms-5 me-5">
            <div class="">
              <a href="https://drive.google.com/uc?export=view&id={{ image.archive_image_id }}" ><img src="https://drive.google.com/uc?export=view&id={{ image.archive_image_id }}" class='archive-image h-50 w-50' loading="lazy"></a>
            </div>
          </div>

        {% if forloop.counter|divisibleby:3 and not forloop.last %}
              <div class="w-100"></div> <!-- Clears the float to start a new row -->
            {% endif %}
        {% empty %}
          <div class='text-center'>
            <h2>No Images Available</h2>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
