{% extends "schedule/base.html" %} {% load static %} {% block title%} Revolt
Gallery {% endblock %} 

{% block bodycontent %}
<section id="gallery" class="fade-effect" >
<!-- header Gallery Section -->
    <div class="container mt-5" data-aos="fade-up">
      <div class="section-header text-center">
        <h2 class='mb-5 fs-2'><span class='text-danger'>Revolt</span> Gallery</h2>
        <button id="openPast" class="btn btn-outline-danger custom-button custom-font-change" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Past</button>
          <button class="btn btn-outline-danger custom-button custom-font-change" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Present</button>
          <button class="btn btn-outline-danger custom-button custom-font-change" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Future</button>
      </div>
        <div class="container">
        <!-- Include your Django templates for the three sections -->

                <div class="collapse" id="multiCollapseExample1">
                    {% include 'schedule/gallery_past_new.html' %}
                </div>

<!--            <div class="">-->
                <div class="collapse show" id="multiCollapseExample2">
                    {% include 'schedule/gallery_slide_index.html' %}
                </div>
<!--            </div>-->
<!--            <div class="">-->
                <div class="collapse" id="multiCollapseExample3">
                    {% include 'schedule/gallery_future.html' %}
                </div>
<!--            </div>-->
            </div>
        </div>
<!--    </div>-->

<!-- Add JavaScript to handle the collapse behavior -->





</section>

<script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get the current URL
            var currentUrl = window.location.href;

            // Check if the URL contains the specified query string
            if (currentUrl.includes('open-past=true')) {
                // Call your function to click the button
                clickMyButton();

                // Remove the query string from the URL
                removeQueryString();
            }

            function clickMyButton() {
                // Get the button element by its ID
                var buttonElement = document.getElementById('openPast');

                // Trigger a click event on the button element
                buttonElement.click();
            }

            function removeQueryString() {
                // Modify the URL without triggering a page reload
                var newUrl = currentUrl.split('?')[0];
                history.replaceState({}, document.title, newUrl);
            }
        });
    </script>

{% endblock %}