{% load static %}




<!-- header Gallery Section -->
    <div class="container mt-5" data-aos="fade-up">
     <h1 class='text-center'>The <span class='text-danger'>Past</span></h1>
     <h2 class='text-center'><span class='text-danger'>Revolt </span>Gallery <span class='text-danger'>Archives</span></h2>
      <!--  past -->



 <div class="container mt-5" data-aos="">




    


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album example</h1>
        <p class="lead text-body-secondary">"Revolt Gallery in Taos, NM presents an eclectic and vibrant archive compilation showcasing avant-garde artworks and cultural narratives, offering a captivating retrospective of contemporary expressions and local artistic dynamism."</p>
      
      </div>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">

      <div class="row g-3">
        
{% for item in archive_show_data %}
<div class="col ms-5 me-5">
  <div class="future-child-container p-3 mt-3 border border-light rounded-4 shadow-lg mb-5 bg-danger bg-opacity-10">
           
    <div class="future-content-container">
     <img class='logo-schedule img-h' src='{% static "schedule/img/img-new/revolt_logo.png" %}' alt='logo' />
        <h1 class=''>{{ item.archive_show_name }} </h1>
        <h2 class=''><span class='h4 text-danger'>by</span> <span class='h3'>{{ item.archive_artist_name }}</span></h2>
        
        <div class='hover-future-cont'>
        <p class="">{{item.archive_start_date}} -- {{item.archive_end_date}}</p>
        
       
        <ul class='list-unstyled'>
        <li><a class='text-decoration-none text-danger' href='{{ item.archive_artist_web }}'>{{ item.archive_artist_name }}'s Website</a></li>
    
        </ul>
       
        {% if item.image_files.exists %}
       <div class='thanks'>
        <img src='https://drive.google.com/uc?export=view&id={{ item.image_files.all.1.archive_image_id }}' class='h-75 w-75'>
        {% else %}
        <p>No related images found.</p>
    {% endif %} 
       </div>
       
        </div>
        <!-- Add your custom content here -->
    </div>


</div>
</div>
{% if forloop.counter|divisibleby:2 and not forloop.last %}
<br> <!-- Or any other line break element or styling -->
{% endif %}
     
{% endfor %}  
        </div>
        
      </div>
    </div>
  </div>


<div class='row'>
  <div class='col'>
 
  </div>
</div>



</main>
      
    
    </div>
    
    </div>



 