{% load static %}

  <section id="gallery-present" class="fade-effect mt-5 rounded">
    <h1 class="text-center fs-1">The Present</h1>





    <div class="previous-art-show mt-3">
      <div class="row">
        <div class="col-lg text-center p-4"></div>

        <div class="container mt-5 pb-5" data-aos="fade-up" data-aos-delay="100">
          <h1 class="text-center mb-2 fs-1">REVOLT GALLERY IS <span class="text-dark">ON WINTER BREAK</span></h1>
          <div class="text-center">
            <h2>THANK YOU <span class="text-dark"></span></h2>
            <h2>New show Dropping in March 2024</h2>
          </div>
        </div>
        <div class="col-lg text-center p-4"></div>
      </div>




      <!-- End previous show Gallery Section -->
    </div>
    <!-- end new gallery show section -->
    <!-- End current show Gallery Section -->

    <!-- Modal (dialog) learn more -->






    <div class="hut-out-front mt-5">
        <div class="section-header text-center">
          <h1 class="text-dark fs-1">The Hut Out Front</h1>
          <p class="text-uppercase text-dark">“Vulnerability” by Laura Feierman <br> 2023 Mini Installation</p>
          <a href="https://www.instagram.com/moondroppers/?hl=en" class="me-3">
            <i class="fab fa-instagram fa-2x mr-3" style="color: #ac2bac;"></i>
          </a>
          <a href="https://www.linkedin.com/in/laura-feierman-9521b2189/">
            <i class="fab fa-linkedin-in fa-2x" style="color: #0082ca;"></i>
          </a>
        </div>

        <div class="row">
  <div class="m-3 mx-auto text-dark fw-bolder p-4 text-center">
    <p class="fs-5 p-2">
      Living and practicing in New Mexico, Laura Feierman is an interdisciplinary artist that integrates beauty, identity and personal experiences into 3-dimensional sculpture installments.
    </p>
    <p class="fs-5 p-2">
      She is a Summa Cum Laude graduate from the University of New Mexico with a BFA in Studio Art/Sculpture.
    </p>
    <p class="fs-5 p-2">
      Her Wo/Manhouse 2022 installation in the pink bathroom combines her personal experiences with vulnerability, insecurity, humility, and tenacity while maintaining femininity, fantasy, and female empowerment.
    </p>
  </div>
</div>


        <div id="hut-img" class="row w-75 mx-auto d-flex justify-content-center">
          <div id="mobile-hide1" class="col-lg-4 col-md-6 text-center" >
            <div class="image-container">
              <img loading="lazy" src="{% static 'schedule/img/img-new/laura_artist_9by16.jpg' %}" class="mx-auto d-block" alt="...">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 text-center p-4">
            <div class="image-container">
              <img loading="lazy" src="{% static 'schedule/img/img-new/laura_hut_1_9by16.jpg' %}" class="mx-auto d-block" alt="...">
            </div>
          </div>

          <div id="mobile-hide" class="col-lg-4 col-md-6 text-center p-4">
            <div class="image-container">
              <img loading="lazy" src="{% static 'schedule/img/img-new/laura_hut_2_9by16.jpg' %}" class="mx-auto d-block" alt="...">
            </div>
          </div>
        </div>
      </div>
  </section>


 