{% load static %}


<style>.archive-image-container {
  width: 100px; /* Container width */
  height: 100px; /* Container height */
  position: relative; /* Position relative for absolute positioning */
  overflow: hidden; /* Hide overflow */
}

.archive-image {
  width: 500px; /* Image width */
  height: auto; /* Auto height */
  position: absolute; /* Position absolute for centering */
  top: 50%; /* Align image vertically */
  left: 50%; /* Align image horizontally */
  transform: translate(-50%, -50%); /* Center the image */
}
</style>

<!-- header Gallery Section -->



<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <h1 class='text-center fs-1'>The <span class='text-dark'>Past</span></h1>
        <h2 class='text-center'><span class='text-dark'>Revolt </span>Gallery <span class='text-dark'>Archives</span>
        </h2>
    </div>

    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p class="lead text-body-secondary text-dark fw-bold">"Revolt Gallery in Taos, NM presents an eclectic
                and vibrant archive compilation showcasing avant-garde artworks and cultural narratives,
                offering a captivating retrospective of contemporary expressions and local artistic
                dynamism."</p>
        </div>
    </div>
</section>

<div class="album py-5">
    <div class="container">
    <div class="row g-3">
       {% for item in archive_show_data %}
    <div class="hover-img-arch future-child-container p-3 m-4 border border-dark rounded-4 shad bg-danger bg-opacity-75 col-lg-5 mx-auto col-12 p-4">
        <a class='text-decoration-none text-dark' href='{% url "archive_details" pk=item.pk %}'>
            <div class="future-content-container">
                <img class='logo-schedule img-h' src='{% static "schedule/img/img-new/revolt_logo.png" %}' alt='logo'/>

                <h1 class='text-center'>{{ item.archive_show_name }}</h1>
                <h2 class='text-center'><span class='h4 text-dark'>by</span> <span class='h3'>{{ item.archive_artist_name }}</span></h2>
                <div class='hover-future-cont'>
                    <p class="text-center fs-5 text-dark">{{ item.archive_start_date }} -- {{ item.archive_end_date }} </p>
                    <div class="view-more-overlay">
                        </div>
                                               <div class="text-hov-bright text-center vstack gap-2">
                                                   <div class="border-bottom"><h2 class="text-light">View Gallery</h2></div>
                                                   <div><h2 class="text-light">{{ item.archive_show_name }}</h2></div>

                                               </div>
                       <div class="view-more-overlay">
                                <img class='hover-image' src='{% static "schedule/img/img-new/fist.png" %}' alt='hover-image'/>
                            </div>


                </div>
            </div>
        </a>
    </div>

    {% if forloop.counter|divisibleby:2 and not forloop.last %}
        <div class="w-100 d-none d-lg-block"></div><!-- Clears the float to start a new row on desktop -->
    {% endif %}
{% endfor %}




    </div>

    {% if archive_show_data|length == 0 %}
        <div class='text-center'>
            <h2>REVOLT GALLERY <span class='text-dark'>ARCHIVES ~</span>~ COMING SOON</h2>
            <h2>Full List of All Artists and Shows from Revolt Gallery</h2>
            <a href="{% url 'contact-revolt' %}" class='text-decoration-none'>
                <h3 class='text-dark'>Please Contact Us Here If You Have Any Questions</h3>
            </a>
        </div>
    {% endif %}
</div>


</div>










