{% load static %}




<!-- header Gallery Section -->
    <div class="container mt-5" data-aos="fade-up">
     <h1 class='text-center'    >The <span class='text-danger'>Past</span></h1>
      <!--  past -->



 <div class="container mt-5" data-aos="">
      {% comment %} <div class="section-header">
        <h2><span class='text-danger'>Revolt</span> Gallery</h2>
        <p class='text-dark mobile-second-title'><a href='#'>The Past</a> <span class='text-danger'>||</span> <a href='#'>The Present</a><span class='text-danger'>||</span> <a href='#'>The Future</a></p>

      </div> {% endcomment %}
    <div class="previous-art-show mt-3">
    <div class="row">
      <div class="col-lg text-center p-4"></div>
      
      <div
        class="col-lg-8 text-center p-2 border-bottom border-danger border-3"
      >
        <h2><span class='text-danger'>"Landcestor"</span> By Joerael Numina</h2>
        
        

       
       <!-- Button to trigger the modal -->

      </div>
      <div class="col-lg text-center p-4"></div>
    </div>

 

    <div class="gallery-slider swiper">
      <div class="swiper-wrapper align-items-center">

          <div class="swiper-slide square-contain">
          <a
            href="{% static 'schedule/img/img-new/Joerael Numina Headshot.jpg' %}"
            class="gallery-lightbox"
            ><img loading="lazy"
              src="{% static 'schedule/img/img-new/Joerael Numina Headshot.jpg' %}"
              class="img-fluid"
              alt=""
          /></a>
        </div>
        <div class="swiper-slide square-contain">
          <a
            href="{% static 'schedule/img/img-new/joerael2_square.jpg' %}"
            class="gallery-lightbox"
            ><img loading="lazy"
              src="{% static 'schedule/img/img-new/joerael2_square.jpg' %}"
              class="img-fluid"
              alt=""
          /></a>
        </div>
        <div class="swiper-slide square-contain">
          <a
            href="{% static 'schedule/img/joerael1_square.jpeg' %}"
            class="gallery-lightbox"
            ><img loading="lazy"
              src="{% static 'schedule/img/joerael1_square.jpeg' %}"
              class="img-fluid"
              alt=""
          /></a>
        </div>
        <div class="swiper-slide square-contain">
          <a
            href="{% static 'schedule/img/img-new/joerael3.jpeg' %}"
            class="gallery-lightbox"
            ><img loading="lazy"
              src="{% static 'schedule/img/img-new/joerael3.jpeg' %}"
              class="img-fluid"
              alt=""
          /></a>
        </div>
        <div class="swiper-slide square-contain">
          <a
            href="{% static 'schedule/img/img-new/joerael4.jpeg' %}"
            class="gallery-lightbox"
            ><img loading="lazy"
              src="{% static 'schedule/img/img-new/joerael4.jpeg' %}"
              class="img-fluid"
              alt=""
          /></a>
        </div>
        

      </div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- End previous show Gallery Section -->
  </div>
  <!-- end new gallery show section --> 
      <!-- End current show Gallery Section -->

<!-- Modal (dialog) learn more -->

    <div class='background-image'>
        <div class="text-center"><h2 class="text-danger">Joerael Numina (b. 1980, San Angelo, Texas)</h2> </div>
        <div class='background-image-small'>
        <div class="text-secondary">
        <p>Internationally acclaimed, Albuquerque-based artist activator Guest, has been dedicated to creating art that inspires awareness. Joerael is an activator, muralist, portrait artist, visual artist, tattoo artist and frequent lecturer.</p>
        <p>A visionary disruptor and art entrepreneur, Joerael is the founder of Mobilize Walls, he was the first artist in residence at the Santa Fe Institute, and was recently commissioned by Sky Railway to paint an exterior mural on a train consist.</p>
        <p>A self-taught artist, Joerael’s fascination with decoding art came to the fore when watching the fall of the Berlin Wall on his television set as a nine-year-old boy—fully captivated by the graffiti, letters and names of the wall.</p>
        <p>Joerael Numina’s solo show colorfully captures his personal life experiences into a poetic, rhythmic memory. Landcestor, is an exploration of new images rendered as relations to the land.</p>
        <p>Joerael expresses this moment of color as an invitation to crumble like a cliff face after rainfall, to roar like a river running wide, and to crack open like a volcano blowing out of a mountain side.</p>
        <p>The yearly scholarship supports cost of materials for New Mexico artists to show their work at a gallery. Revolt is happy to be working in conjunction with Arroyo Seco Live to provide opportunities to NM based artists. 
</p>
                   <div class="socialartist m-3 text-center">
<a href='https://www.instagram.com/joerael.art/?hl=en'><i class="fab fa-instagram fa-2x" style="color: #ac2bac;"></i></a> <!-- Facebook -->
</div>
     </div> 
        </div>
        <div class="text-center mb-4">
        <a href='https://www.joerael.com/'><h4 class='text-decoration-none'>Click here for Joerael's Collection</h4></a>
        <!-- Instagram -->


       
        </div>
    </div>


    
    </div>

   <div class="previous-art-show mt-5">
        <div class="row">
          <div class="col-lg text-center p-4"></div>
          <div
            class="col-lg-8 text-center p-2 border-bottom border-danger border-3"
          >
           <h2><span class='text-danger'>Thinking & Preying</span></h2>
        <h3>Clark Stoeckley</h3>
        
      <!-- Button to trigger the modal -->

  
          </div>
          <div class="col-lg text-center p-4"></div>
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide square-contain">
              <a
                href="{% static 'schedule/img/img-new/img-square/clark shot cropped.jpg' %}"
                class="gallery-lightbox"
                ><img loading="lazy"
                  src="{% static 'schedule/img/img-new/img-square/clark shot cropped.jpg' %}"
                  class="img-fluid"
                  alt=""
              /></a>
            </div>
            <div class="swiper-slide square-contain">
              <a
                href="{% static 'schedule/img/img-new/img-square/hoff cropped.jpg' %}"
                class="gallery-lightbox"
                ><img loading="lazy"
                  src="{% static 'schedule/img/img-new/img-square/hoff cropped.jpg' %}"
                  class="img-fluid"
                  alt=""
              /></a>
            </div>
            <div class="swiper-slide square-contain">
              <a
                href="{% static 'schedule/img/img-new/img-square/clark 2 crop.jpg' %}"
                class="gallery-lightbox"
                ><img loading="lazy"
                  src="{% static 'schedule/img/img-new/img-square/clark 2 crop.jpg' %}"
                  class="img-fluid"
                  alt=""
              /></a>
            </div>
            <div class="swiper-slide square-contain">
              <a
                href="{% static 'schedule/img/img-new/img-square/clark opening.jpeg' %}"
                class="gallery-lightbox"
                ><img loading="lazy"
                  src="{% static 'schedule/img/img-new/img-square/clark opening.jpeg' %}"
                  class="img-fluid"
                  alt=""
              /></a>
            </div>
            <div class="swiper-slide square-contain">
              <a
                href="{% static 'schedule/img/img-new/img-square/ext view.jpeg' %}"
                class="gallery-lightbox"
                ><img loading="lazy"
                  src="{% static 'schedule/img/img-new/img-square/ext view.jpeg' %}"
                  class="img-fluid"
                  alt=""
              /></a>
            </div>
            {% comment %} <div class="swiper-slide square-contain">
              <a
                href="{% static 'schedule/img/img-new/img-square/DSC_.7011.jpg' %}"
                class="gallery-lightbox"
                ><img loading="lazy"
                  src="{% static 'schedule/img/img-new/img-square/dsc_7011.jpg' %}"
                  class="img-fluid"
                  alt=""
              /></a>
            </div> {% endcomment %}
            {% comment %} <div class="swiper-slide square-contain">
              <a
                href="{% static 'schedule/img/img-new/img-square/img_5848.jpg' %}"
                class="gallery-lightbox"
                ><img loading="lazy"
                  src="{% static 'schedule/img/img-new/img-square/img_5848.jpg' %}"
                  class="img-fluid"
                  alt=""
              /></a>
            </div> {% endcomment %}
            <div class="swiper-slide square-contain">
              <a
                href="{% static 'schedule/img/img-new/img-square/JWAnderson_Unfurl_2023.jpg' %}"
                class="gallery-lightbox"
                ><img loading="lazy"
                  src="{% static 'schedule/img/img-new/img-square/JWAnderson_Unfurl_2023.jpg' %}"
                  class="img-fluid"
                  alt=""
              /></a>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
       
      </div>
       <!-- End previous show Gallery Section -->


       


    
    <div class='row'> 
    
    
     <div class='background-image'>
        
        <div class='background-image-small w-50 mx-auto'>
        <div class="text-secondary">
                    <p class="">Summer Artist-in-Residence, Clark Stoeckley’s new solo show “Thinking & Praying” will feature seventy-two of his vibrant abstract ink and colored pencil drawings. </p>
                    <p> Clark has painted murals at Revolt and around Taos for the past three summers.</p>

                 <div class="socialartist m-3 text-center">
<a href='https://www.instagram.com/clark_stoeckley/'><i class="fab fa-instagram fa-2x" style="color: #ac2bac;"></i></a> <!-- Facebook --><a href='https://www.facebook.com/burningmanoccupy/'><i class="fab fa-facebook-f fa-2x" style="color: #3b5998;"></i></a>
</div>
     </div> 
        </div>
        <div class="text-center mb-4">
        <a href='https://www.clarkstoeckley.com/info'><h4 class='text-decoration-none'>Click here for Clark's Collection</h4></a>
        <!-- Instagram -->


        
        </div>
    </div>
    


       <div class='text-center'>
      <h2>REVOLT GALLERY <span class='text-danger'>ARCHIVES ~</span>~ COMING SOON</h2>
      <h2>Full List of All Artists and Shows from Revolt Gallery</h2>
      <a href="{% url 'contact-revolt' %}" class='text-decoration-none'><h3 class='text-danger'>Please Contact Us Here If You Have Any Questions</h3></a>
      </div>
    
    </div>
    
    </div>



 