{% load static %}

 <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">  
      <h1 class="mb-4 pb-0">
        Revolt Art Gallery<br><span>Reset Performing Arts</span>
      </h1>
      <h3 class="mb-1 pb-0 text-danger fw-bolder" style="font-family: 'Raleway', sans-serif;">Where Art Breaks Free from the System</h3>
      <a href="#about" id="" class="about-btn mb-4">About Revolt</a>
      
      <h3 class='custom-font-change custom-glow-change text-light'>Live at Revolt Gallery</h3>
      <a href='https://open.spotify.com/artist/4UZq2k7qXXAPahPwdiwj1j'><h4 class='custom-font-change custom-glow-change text-light'>Influence of time</h4></a>
      <div class='d-flex influence-name-spacing'>
      <h5 class='custom-font-change custom-glow-change text-light'>Cheeraz Gormon </h5> <h5 class='custom-font-change custom-glow-change text-light me-3 ms-4'><a href='https://www.instagram.com/goya_goon/?hl=en'> goya_goon </a></h5> <h5 class='custom-font-change custom-glow-change text-light'><a href='https://www.instagram.com/supermandamnfool/?hl=en'> SuperManDamnFool </a> </h5>
      </div>
      <a href="#" onclick="toggleSlide();"
        class="play-btn mb-4" 
      ></a>
      
   <div class="sliding-div" id="slidingDiv">
        <!-- Content in the sliding div -->
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/6FJXCLtZPS7NFvYVidCtoB?utm_source=generator" width="400" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>    
    </div>
      <h4 class='custom-font-change custom-glow-change text-light'>Pless Play to Listen</h4>
    </div>