<div class="container-fluid" data-aos="fade-up">
      <div class="section-header">
        <h2>Location and Hours</h2>
        
      </div>

      <div class="row g-0">
        <div class="col-lg-6 venue-map">
          <iframe loading="lazy"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2254.507198903464!2d-105.57068365223667!3d36.410068554771954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8717651628705279%3A0x99877053ad57b16e!2sRevolt%20Gallery!5e0!3m2!1sen!2sus!4v1686441245361!5m2!1sen!2sus"
            frameborder="0"
            style="border: 0"
            allowfullscreen
          ></iframe>
        </div>

        <div class="col-lg-6 venue-info">
     
         

       <div class="container text-center">
  <!-- Row 1 -->
  <div class="row justify-content-center p-2">
    <div class="col-lg-4 col-md-6 col-sm-12 p-1">
      <h3 class="text-danger">Address</h3>
      <p>
        222 Paseo Del Pueblo Norte<br>Taos, NM 87571
      </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 p-1">
      <h3 class="text-danger">Hours</h3>
      <p>Revolt Gallery is by Appointment<br>Please Call or Email contacts below</p>
    </div>
  </div>
  <!-- Row 2 -->
  <div class="row p-4 text-center">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h4 style='color: white;'>Revolt Gallery and Reset Performing Arts is a short walk north from the downtown plaza, located directly off Paseo del Tucano Norte.</h4>
    </div>
  </div>
</div>

            
            
            
        </div>
      </div>
    </div>