<div class="container-fluid" data-aos="fade-up">
      <div class="section-header">
        <h2 class="text-light text-shad-dark-back moving-gradient">Location and Hours</h2>
        
      </div>

      <div class="row g-3 ">
        <div class="col-lg-6 venue-map shad">
          <iframe loading="async"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2254.507198903464!2d-105.57068365223667!3d36.410068554771954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8717651628705279%3A0x99877053ad57b16e!2sRevolt%20Gallery!5e0!3m2!1sen!2sus!4v1686441245361!5m2!1sen!2sus"
            frameborder="0"
            style="border: 0"
            allowfullscreen
          ></iframe>
        </div>

        <div class="col-lg-6 venue-info shad">
     
         

       <div class="container text-center">
  <!-- Row 1 -->
  <div class="row justify-content-center p-2">
    <div class="col-lg-4 col-md-6 col-sm-12 p-1">
      <h3 class="text-danger fw-bold text-shad-dark-back custom-glow-change moving-gradient custom-font-octin">Address</h3>
      <h4 class="text-shad-dark-back fw-bold text-light">
        226 Paseo Del Pueblo Norte<br>Taos, NM 87571
      </h4>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 p-1">
      <h3 class="text-danger text-shad-dark-back custom-glow-change moving-gradient custom-font-octin">Hours</h3>
      <h4 class="text-shad-dark-back fw-bold text-light">SATURDAY & SUNDAY<br>By Appointment Only</h4>
    </div>
  </div>
  <!-- Row 2 -->
  <div class="row p-4 text-center">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h4 class="text-light text-shad-dark-back">Revolt Gallery and Reset Performing Arts is a short walk north from the downtown plaza, located directly off Paseo del Pueblo Norte.</h4>
    </div>
  </div>
</div>

            
            
            
        </div>
      </div>
    </div>