{% extends "schedule/base.html" %} {% load static %} {% block title%} Revolt
Gallery {% endblock %} 

{% block bodycontent %}





  <!-- ======= About Section  Stay ======= -->
  <section id="hero" class="">
    {% comment %}  {% endcomment %}

  {% include 'schedule/ui_change_template/update_hero_slide.html' %}

       


  </section>
<!-- end dynamic slider area section -->

<!-- End Hero Section -->

<main id="main">
  <!-- ======= About Section  Stay ======= -->
  <section id="about" class="">


  {% include 'schedule/about.html' %}

       


  </section>
  <!-- ======= About Section ======= -->

  <!-- End About Section -->

  <!-- ======= Static Venue Section ======= -->


  <!-- ======= Instagram Section (stay, needs work) ======= -->

  <!-- End insta Section -->
   <section id="venue" class="">
    {% include 'schedule/location_hours.html' %}
  </section>
  <!-- End Venue Section -->

  <!-- ======= Contact Section Stay ======= -->
  <section id="contact" class="section-bg mt-5">
    <div class="container pt-5" data-aos="fade-up">
      <div class="section-header">
        <h2 class="moving-gradient">Contact Us</h2>
        <p class="text-dark">We're all pretty chill people</p>
                <p>Visit <span class='text-danger'>||</span> Call <span class='text-danger'>||</span> Email</p>

      </div>

      <div class="row contact-info">
   {% include 'schedule/contact_information.html' %}
      </div>


    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->

{% endblock %}