{% extends "schedule/base.html" %} {% load static %} {% block title%} Reset
Performing Arts Space{% endblock %} 

{% block bodycontent %}
 <section id="venue" class="slide fade-effect">
<div class="container-fluid margin-top-custom" data-aos="fade-up">
      <div class="section-header">
        <h2>Reset Performing Arts</h2>
        <p class="text-uppercase">Venue location and past events</p>
      </div>

      <div class="row g-0">
        <div class="col-lg-6 venue-info" style="background: url('{% static 'schedule/img/img-new/reset/IMG_2674.jpeg' %}') top center no-repeat !important;" >
             <div class="row justify-content-center">
            <div class="col-11 col-lg-8 position-relative">
              <h3>PAST EVENTS</h3>
              <p>
              <p class=' text-light'>SINCE 2017, REVOLT HAS HOSTED MANY GALLERY SHOWS, MUSIC EVENTS, AND ART HAPPENINGS. LOCATED IN THE HIGH NEW MEXICO DESERT, REVOLT FLOURISHES IN THE VORTEX OF TAOS, NM AND WOULD BE NOTHING WITHOUT OUR LOCAL ARTIST PARTICIPATION OVER THE YEARS!
              CLICK THIS BOX TO SEE RESET and REVOLTS PAST EVENTS</p>
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 venue-info">
          <div class="row justify-content-center">
            <div class="col-11 col-lg-8 position-relative">
               <h3>FUTURE EVENTS</h3>
            <ul id='venue-short'>
               
           
                <li>
                <h4 class='text-danger custom-font-change'>DJ Swamp <span class='text-light'>with DR.Sheets</span> at Dallee, Taos -- 1/12 at 8pm</h4>
                <h4 class='text-danger custom-font-change'>DJ This Justin at TSV <span class='text-light'>1/12 at 4pm</span></h4>

                </li>
            </ul>
       
             
            </div>
          </div>
        </div>
      </div>
    </div>


       <!-- Reset schedule -->
    <div id="music-sched" class="section-header text-center mt-5">
      <h2>Upcoming Music and performances</h2>
      
    </div>


<!-- Upcoming events info -->


         
      

       <div id="slide-to-insta" class="container pt-5 mobile-event-1" data-aos="fade-up">

  <div class="row mb-5">

    <h2 class='text-center fw-bold'>TECH <span class="text-danger">NOIR</span> COUNTDOWN</h2>
    <h4 class='text-center fw-bold'>New Years Party <span class="text-danger">&</span> Benefit Show</h4>
    <h6 class='text-center fw-bold'>| Soldados <span class="text-danger">and</span> Taos Haus |</h6>

    <video width="450" height="700" class='mx-auto mt-3' autoplay>
      <source src="{% static 'schedule/img/img-new/soldadosnye.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
    </video> 

  </div>



<div class="row mb-5">
<div class="col-lg-6 p-4">

<div class="align-items-center">
  <h2 class="text-center fw-bold">Spinning All<span class="text-danger">Night Long</span></h2>
<h3 class="text-center fw-bold">Ama<span class="text-danger">nita</span></h3>
<h3 class='text-center fw-bold'>DJ<span class="text-danger"> This</span> Justin</h3>

 <h3 class="text-center fw-bold">Presenting: <span class="text-danger">DJ</span> ON1</h3>



</div>
</div>

<div class="col-lg-6 text-center p-4">

  <h3 class="text-center fw-bold">Special <span class="text-danger">B2B2B</span> Set to ring in the New Year</h3>

  <h4 class='text-center'>ALL <span class="text-danger">PROCEEDS DONATED</span> TO DREAMTREE</h4>
  
  <h4 class='text-center'><a href='https://www.google.com/maps/place/Soldados/@36.3741389,-105.5925294,16.01z/data=!4m14!1m7!3m6!1s0x87176516552586d9:0x63840be13a4f6360!2sSoldados!8m2!3d36.3740261!4d-105.5925294!16s%2Fg%2F11s9c_jnlr!3m5!1s0x87176516552586d9:0x63840be13a4f6360!8m2!3d36.3740261!4d-105.5925294!16s%2Fg%2F11s9c_jnlr?entry=ttu' class='text-dark'>SOLDADOS, TAOS  </a><span class="text-danger">DOORS AT 8PM </span></h4>
      <h4 class='text-center'>All Black Event  <span class="text-danger">21+ || CASH ONLY BAR </span></h4>




</div>



</div>

</div>




    
        <div class="w-50 mx-auto border-bottom border-3 border-danger"></div>

    <div
      class="container-fluid venue-gallery-container mt-3"
      data-aos="fade-up"
      data-aos-delay="100"
    >

 <div class="section-header text-center">
        <h2 class='mb-4'>Past Events</h2>
       <a class="btn btn-outline-danger" data-bs-toggle="collapse" href="#venue-collapse" role="button" aria-expanded="false" aria-controls="venue-collapse">
    Past Shows at Reset
  </a>

      </div>

   

{% comment %} <!-- iteration test -->
  {% for video_data in vimeo_video_data.data|slice:8  %}
  <div class="col-lg-3 col-md-4">
  
    <div class="venue-gallery">
        <a href="{{ video_data.player_embed_url }}?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
<iframe src="{{ video_data.player_embed_url }}?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Revolt Gallery New Years 2021"></iframe>                <div class="quote-overlay">
                    <p class='child-hover'>{{ video_data.name }}</p>
                </div>
            </div>
        </a>
    </div>

</div>
{% endfor %}


<!-- iteration test done--> {% endcomment %}



<div class="collapse" id="venue-collapse">

     <!-- Your slider content will go here -->
    <div class="container">
        <div class="row slider">
            <div class="col-lg-3 col-md-4 slider-item">
                <!-- Your content for the first item here -->
                    <div class="venue-gallery">
        <a href="https://player.vimeo.com/video/511730193?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
<iframe src="https://player.vimeo.com/video/496080719?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Revolt Gallery New Years 2021"></iframe>                <div class="quote-overlay">
                    <p class='child-hover'>Miles Bonny and Dirty Sheets <br>New Years 2021</p>
                </div>
            </div>
        </a>
    </div>
            </div>
            <div class="col-lg-3 col-md-4 slider-item">
                <!-- Your content for the second item here -->
                   <div class="venue-gallery">
        <a href="https://player.vimeo.com/video/511730193?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
<iframe src="https://player.vimeo.com/video/511741304?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Girl Wunder's Lunar New Year Gig_Revolt Gallery 2021"></iframe>                <div class="quote-overlay">
                    <p class='child-hover'>Girl Wunder<br> Lunar New Year 2021</p>
                </div>
            </div>
        </a>
    </div>
            </div>
             <div class="col-lg-3 col-md-4 slider-item">
                <!-- Your content for the second item here -->
                  <div class="venue-gallery">
        <a href="https://player.vimeo.com/video/511730193?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
<iframe src="https://player.vimeo.com/video/525053994?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="St. Patty's Day Poor Man's Blood"></iframe>                <div class="quote-overlay">
                    <p class='child-hover'>Poor Man's Blood<br>St. Patty's Day 2021</p>
                </div>
            </div>
        </a>
    </div>
            </div>
             <div class="col-lg-3 col-md-4 slider-item">
                <!-- Your content for the second item here -->
                    <div class="venue-gallery">
        <a href="https://player.vimeo.com/video/503615713?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
<iframe src="https://player.vimeo.com/video/503615713?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Takayo_Halloween 2020_Revolt Gallery_Taos NM"></iframe>                <div class="quote-overlay">
                    <p class='child-hover'>Takayo - Revolt Gallery<br> Halloween 2020</p>
                </div>
            </div>
        </a>
    </div>
            </div>
             <div class="col-lg-3 col-md-4 slider-item">
                <!-- Your content for the second item here -->
                    <div class="venue-gallery">
        <a href="https://player.vimeo.com/video/511730193?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
                <iframe src="https://player.vimeo.com/video/511730193?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" title="Wyatt Lawson At Revolt Gallery_Lunar New Year 2021"></iframe>
                <div class="quote-overlay">
                    <p class='child-hover'>Wyatt Lawson<br>Lunar New Year 2021</p>
                </div>
            </div>
        </a>
    </div>
            </div>
             <div class="col-lg-3 col-md-4 slider-item">
                <!-- Your content for the second item here -->
                   <div class="venue-gallery">
        <a href="https://player.vimeo.com/video/509347943?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
                <iframe src="https://player.vimeo.com/video/509347943?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="GarryBlackchild_RevoltGallery_Feb2021_02"></iframe>
                <div class="quote-overlay">
                    <p class='child-hover'>Gary Blackchild<br>Revolt Gallery 2021</p>
                </div>
            </div>
        </a>
    </div>
            </div>
             <div class="col-lg-3 col-md-4 slider-item">
                <!-- Your content for the second item here -->
                    <div class="venue-gallery">
        <a href="https://player.vimeo.com/video/686119738?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
<iframe src="https://player.vimeo.com/video/686119738?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Klever At Revolt Studios"></iframe>                <div class="quote-overlay">
                    <p class='child-hover'>Klever<br>Revolt Studios</p>
                </div>
            </div>
        </a>
    </div>
            </div>
             <div class="col-lg-3 col-md-4 slider-item">
                <!-- Your content for the second item here -->
                 <div class="venue-gallery">
        <a href="https://player.vimeo.com/video/708471846?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
                <iframe src="https://player.vimeo.com/video/708471846?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="WiVes WiTh KniVes April28 2022 Coup D'Taos"></iframe>
                <div class="quote-overlay">
                    <p class='child-hover'>Wives With Knives<br>Coup D'Taos 2022</p>
                </div>
            </div>
        </a>
    </div>
            </div>
            

            <!-- Add more slider items as needed -->
        </div>
    </div>

    </div>

</section>
{% endblock %}


 



    
      
      
      
      
      
 
    

    <!-- Reset schedule -->





    