{% load static %}
<div class="container-fluid mt-5" data-aos="fade-up">
      <div class="section-header">
        <h2>Reset Performing Arts</h2>
        <p class="text-uppercase">Venue location and past events</p>
      </div>

      <div class="row g-0">
        <div class="col-lg-6 venue-info" style="background: url('{% static 'schedule/img/img-new/reset/IMG_2674.jpeg' %}') top center no-repeat !important;" >
             <div class="row justify-content-center">
            <div class="col-11 col-lg-8 position-relative">
              <h3>PAST EVENTS</h3>
              <p>
              <a href="https://www.taosrevolt.com/music" target="_blank" class='text-reset'>SINCE 2017, REVOLT HAS HOSTED MANY GALLERY SHOWS, MUSIC EVENTS, AND ART HAPPENINGS. LOCATED IN THE HIGH NEW MEXICO DESERT, REVOLT FLOURISHES IN THE VORTEX OF TAOS, NM AND WOULD BE NOTHING WITHOUT OUR LOCAL ARTIST PARTICIPATION OVER THE YEARS!
              CLICK THIS BOX TO SEE RESET and REVOLTS PAST EVENTS</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 venue-info">
          <div class="row justify-content-center">
            <div class="col-11 col-lg-8 position-relative">
               <h3>FUTURE EVENTS</h3>
              <p>
              <a href="#music-sched" class='text-reset'>REVOLT AND RESET WILL BE PROVIDING A LONG LINE UP OF AMAZING ARTISTS</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


       <!-- Reset schedule -->
    <div id="music-sched" class="section-header text-center mt-5">
      <h2>Upcoming Music and performances</h2>
      
    </div>


<!-- Upcoming events info -->

  <div class="row">
    <h2 class='text-center'>DISSOLVES <span class="text-danger">ALBUM</span> RELEASE</h2>
    <h4 class='text-center'>FRIDAY <span class="text-danger">OCTOBER </span> 13th</h4>
 
        
        </div>


          <div class="row text-center mb-4">
   
   <h2>MORE INFO ON THE WAY</h2>
   <h4>Please contact us with any questions, or stop by the Gallery</h4>
      
        </div>
        <div class="w-50 mx-auto border-bottom border-3 border-danger"></div>

    <div
      class="container-fluid venue-gallery-container mt-3"
      data-aos="fade-up"
      data-aos-delay="100"
    >

 <div class="section-header">
        <h2>Past Events</h2>
        <p class="fs-4text-uppercase">Past events held at RESET</p>
      </div>

      <div class="row g-0">
{% comment %} <!-- iteration test -->
  {% for video_data in vimeo_video_data.data|slice:8  %}
  <div class="col-lg-3 col-md-4">
  
    <div class="venue-gallery">
        <a href="{{ video_data.player_embed_url }}?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
<iframe src="{{ video_data.player_embed_url }}?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Revolt Gallery New Years 2021"></iframe>                <div class="quote-overlay">
                    <p class='child-hover'>{{ video_data.name }}</p>
                </div>
            </div>
        </a>
    </div>

</div>
{% endfor %}


<!-- iteration test done--> {% endcomment %}




 <div class="col-lg-3 col-md-4">
    <div class="venue-gallery">
        <a href="https://player.vimeo.com/video/511730193?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
<iframe src="https://player.vimeo.com/video/496080719?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Revolt Gallery New Years 2021"></iframe>                <div class="quote-overlay">
                    <p class='child-hover'>Miles Bonny and Dirty Sheets <br>New Years 2021</p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-4">
    <div class="venue-gallery">
        <a href="https://player.vimeo.com/video/511730193?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
<iframe src="https://player.vimeo.com/video/511741304?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Girl Wunder's Lunar New Year Gig_Revolt Gallery 2021"></iframe>                <div class="quote-overlay">
                    <p class='child-hover'>Girl Wunder<br> Lunar New Year 2021</p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-4">
    <div class="venue-gallery">
        <a href="https://player.vimeo.com/video/511730193?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
<iframe src="https://player.vimeo.com/video/525053994?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="St. Patty's Day Poor Man's Blood"></iframe>                <div class="quote-overlay">
                    <p class='child-hover'>Poor Man's Blood<br>St. Patty's Day 2021</p>
                </div>
            </div>
        </a>
    </div>
</div>

 <div class="col-lg-3 col-md-4">
    <div class="venue-gallery">
        <a href="https://player.vimeo.com/video/503615713?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
<iframe src="https://player.vimeo.com/video/503615713?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Takayo_Halloween 2020_Revolt Gallery_Taos NM"></iframe>                <div class="quote-overlay">
                    <p class='child-hover'>Takayo - Revolt Gallery<br> Halloween 2020</p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-4">
    <div class="venue-gallery">
        <a href="https://player.vimeo.com/video/511730193?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
                <iframe src="https://player.vimeo.com/video/511730193?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" title="Wyatt Lawson At Revolt Gallery_Lunar New Year 2021"></iframe>
                <div class="quote-overlay">
                    <p class='child-hover'>Wyatt Lawson<br>Lunar New Year 2021</p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-4">
    <div class="venue-gallery">
        <a href="https://player.vimeo.com/video/509347943?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
                <iframe src="https://player.vimeo.com/video/509347943?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="GarryBlackchild_RevoltGallery_Feb2021_02"></iframe>
                <div class="quote-overlay">
                    <p class='child-hover'>Gary Blackchild<br>Revolt Gallery 2021</p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-4">
    <div class="venue-gallery">
        <a href="https://player.vimeo.com/video/686119738?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
<iframe src="https://player.vimeo.com/video/686119738?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Klever At Revolt Studios"></iframe>                <div class="quote-overlay">
                    <p class='child-hover'>Klever<br>Revolt Studios</p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-4">
    <div class="venue-gallery">
        <a href="https://player.vimeo.com/video/708471846?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" target="_blank">
            <div class="video-container">
                <iframe src="https://player.vimeo.com/video/708471846?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="WiVes WiTh KniVes April28 2022 Coup D'Taos"></iframe>
                <div class="quote-overlay">
                    <p class='child-hover'>Wives With Knives<br>Coup D'Taos 2022</p>
                </div>
            </div>
        </a>
    </div>
</div> 

 



    
      
      
      
      
      
 
    

    <!-- Reset schedule -->





    