    
<div class="card">
  <div class="card-img-darken"></div>
<img class="card-img" src="{% static 'schedule/img/img-new/skateganglarge_resize.jpeg' %}" alt="Bologna" style="filter: brightness(65%);">
  <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
    <h4 class="card-title fw-bold">Skate Gang - Roller Skate Class</h4>
    <h5 class="card-subtitle mb-2">Monday || 6:30 PM</h5>
    <h5 class="card-subtitle mb-2">Tamara Stackpoole</h5>
    <h5 class="card-subtitle mb-2">Price || $15.00 per or<span class='text-danger'> $120</span>~ 10 Pack</h5>
    <h5 class="card-subtitle mb-2"><span class='text-danger'>Reserve by Venmo: </span>@Eternalbecoming</h5>
    <h5 class="card-subtitle mb-2"><span class='text-danger'>OR CASH </span>at the Door</h5>
    <h5 class="card-subtitle mb-2">718<span class='text-danger'> 578 </span>5122</h5>
    <div class=" text-decoration-none">
      <a href='www.eternalbecoming.com' class="text-decoration-none"><h5 class="text-danger mb-2">Eternal Becoming Website</h5></a>
    </div>
    <div class="link d-flex text-center">
      <div class='m-1'>
        <a class="btn btn-primary m-3" style="background-color: #ac2bac;" href="https://www.instagram.com/Eternalbecoming" role="button"><i class="fab fa-instagram"></i></a>
      </div>
      <!-- Facebook -->
      <!-- Linkedin -->
      <div class='m-1'>
        <a class="btn btn-primary m-3" style="background-color: #0082ca;" href="https://www.linkedin.com/in/tamara-stackpoole-6a7484aa/" role="button"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</div>