<nav id="navbar" class="order-last order-lg-0 w-100 bg-transparent mt-2 text-center">
    <div class="row">
    <!-- <img class='logo-schedule img-h' src='{% static "schedule/img/img-new/fist.png" %}' alt='logo' /> -->
    <div class="container mx-auto align-items-bottom">
        <div class="d-flex justify-content-center mx-auto">
            
                <div class="text-center custom-font-octin deep-red align-text-bottom me-4">
                    <span class="nav-span">
                        <a class="nav-link" href="{% url 'hut' %}">
                            <span class='{% if request.path == "/hut-out-front/" %}deep-red{% else %}text-light{% endif %} custom-glow-change custom-font-change'>HUT</span>
                        </a>
                    </span>
                </div>
            
            
                <div class="text-center custom-font-octin deep-red align-text-bottom me-4">
                    <span class="nav-span">
                        <a class="nav-link" href="{% url 'gallery-revolt' %}">
                            <span class="{% if request.path == '/revolt-art/' or request.path == '/revolt-gallery/' %}deep-red{% else %}text-light{% endif %} custom-font-change custom-glow-change">Exhibits</span>
                        </a>
                    </span>
                </div>
            


                <div class="text-center custom-font-octin deep-red ms-4">
                    <span class="nav-span">
                       <a href="{% url 'annex_home' %}" data-bs-target="#carousel-id" data-bs-slide-to="0">
                        <span class="fs-1 {% if request.path == '/revolt-art/' or request.path == '/revolt-gallery/' %}text-danger{% else %}text-light{% endif %}">
                            Revolt</span>
                    </a>
                    </span>
                </div>
            </div>
            <span class="text-danger text-center fs-1">||</span>

                <div class="text-center custom-font-octin deep-red me-4">
                    <span class="nav-span">
                        <a href="{% url 'music-reset' %}" data-bs-target="#carousel-id" data-bs-slide-to="0">
                        <span class="fs-1 {% if request.path == '/reset-performing-arts/' %}text-danger{% else %}text-light{% endif %}">
                            RESET</span>
                    </a>
                    </span>
                </div>
            </div>
            
                <div class="text-center custom-font-octin d-inline deep-red ms-4">
                    <span class="nav-span">
                        <a class="nav-link" href="{% url 'music-reset' %}">
                            <span class="{% if request.path == '/reset-performing-arts/' %}deep-red{% else %}text-light{% endif %} custom-font-change custom-glow-change">RESET EVENTS</span>
                        </a>
                    </span>
                </div>
            
            
                <div class="custom-font-octin d-inline deep-red ms-4">
                    <span class="nav-span">
                        <a class="nav-link" href="{% url 'contact-revolt' %}">
                            <span class="{% if request.path == '/contact-revolt/' %}deep-red{% else %}text-light{% endif %} custom-font-change custom-glow-change">CONTACT</span>
                        </a>
                    </span>
                </div>
            
        </div>
    </div>
    <!-- <img class='logo-schedule img-h' src='{% static "schedule/img/img-new/fist.png" %}' alt='logo' /> -->
        </div>
</nav>