{% for item in archive_show_data %}
  <div class="col ms-5 me-5">
    <div class="future-child-container p-3 mt-3 border border-light rounded-4 shadow-lg mb-5 bg-danger bg-opacity-10">
      <div class="future-content-container">
        <!-- ... (other content) ... -->
        <div class='swiper-container'>
          <div class='swiper-wrapper'>
            {% if item.image_files.exists %}
              {% for image_file in item.image_files.all %}
                <div class='swiper-slide'>
                  <img src='{% static "path_to_placeholder_image.jpg" %}' data-src='https://drive.google.com/uc?export=view&id={{ image_file.archive_image_id }}' class='archive-image' loading="lazy">
                </div>
              {% endfor %}
            {% else %}
              <p>No related images found.</p>
            {% endif %}
          </div>
          <!-- Navigation buttons -->
          <div class='swiper-button-next'></div>
          <div class='swiper-button-prev'></div>
        </div>
      </div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:2 and not forloop.last %}
    <div class="w-100"></div> <!-- Clears the float to start a new row -->
  {% endif %}
{% empty %}
<div class='text-center'>
  <h2>REVOLT GALLERY <span class='text-danger'>ARCHIVES ~</span>~ COMING SOON</h2>
  <h2>Full List of All Artists and Shows from Revolt Gallery</h2>
  <a href="{% url 'contact-revolt' %}" class='text-decoration-none'><h3 class='text-danger'>Please Contact Us Here If You Have Any Questions</h3></a>
  </div>
{% endfor %}